<div class="card">
    <div class="card-header">
        <h3 class="card-title">Monitoring Policy Info<span id="dtl-Monitoring_Policy_id"></span></h3>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-2">
                    <label for="dtl-category_name">Agent Interval</label>
                    <input type="text" class="form-control" id="dtl-Agent_Interval_id" name="dtl-Agent_Interval_id"
                        placeholder="">
                </div>
                <div class="form-group mb-2">
                    <label for="dtl-parent_category_id">Collector Interval</label>
                    <input type="text" class="form-control" id="dtl-Collector_Interval_id"
                        name="dtl-Collector_Interval_id" placeholder="">
                </div>
                <div class="form-group mb-2">
                    <label for="dtl-description">Max Host Count</label>
                    <input type="text" class="form-control" id="dtl-Max_Host_Count_id" name="dtl-Max_Host_Count_id"
                        placeholder="">
                </div>
            </div>
            <div class="col-md-6">


                <div class="form-group mb-2">
                    <label for="dtl-parent_category_id">Monitoring Policy</label>
                    <input type="text" class="form-control" id="dtl-Monitoring_Policy_id"
                        name="dtl-Monitoring_Policy_id" value="readonly" readonly>
                </div>
                

            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-list justify-content-center">
            <a href="#" class="btn btn-primary">Apply</a>
        </div>
        
    </div>
    
</div>