<div id="pageloader" class="section">
    <div class="page page-center">
      <div class="container container-slim py-4">
          <div class="text-center">
              <div class="mb-3">
                  <a href="." class="navbar-brand navbar-brand-autodark"><img src="/assets/static/logo/logo-small.svg" height="36" alt=""></a>
              </div>
              <div class="text-secondary mb-3">Preparing Data</div>
              <div class="progress progress-sm">
                  <div class="progress-bar progress-bar-indeterminate"></div>
              </div>
          </div>
      </div>
    </div>
</div>