<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <div class="page-pretitle" id="page-pretitle">pretitle</div><h2 class="page-title"id="page-title">title</h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list" id="page-header-btn-list">
          
          
        </div>
      </div>

    </div>
  </div>
  <div class="col-auto ms-auto d-print-none">
    
  </div>
</div>