<!-- Sidebar -->
<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
            aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <h1 class="navbar-brand navbar-brand-autodark">
            <a href="#" id="customLink">
                <img src="/assets/static/logo/mcmp.svg" width="110" height="32" alt="Tabler"class="navbar-brand-image">
            </a>
        </h1>

        <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul class="navbar-nav pt-lg-3" id="sidebar-menu-inner"></ul>
        </div>
    </div>
</aside>

<!-- <li class="nav-item box-link dropdown" name="sidebar_workspace">
    <a class="nav-link" href="/webconsole/configuration/workspace/manage"  id="sidebar_configuration_workspace">
        
    </a>
</li> -->

<!-- Common Modal -->

	<!-- popup modal -->
	<div class="modal modal-blur fade" id="confirmArea" tabindex="-1" aria-hidden="true" style="display: none">
		<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="modal-title"><span id="confirmText"></span> </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="confirmOkAction" value=""><!-- modal에서 OK버튼 클릭 시 수행할 action 지정-->
                    <input type="hidden" id="confirmCaller" value=""><!-- 구분자-->
                    <button type="button" class="btn btn-link link-secondary me-auto" data-dismiss="modal" onclick="commonConfirmClose()">Cancel</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal" onclick="commonConfirmOk()">OK</button>
				</div>
			</div>
		</div>
	</div>
	<!-- //popup modal -->

	<!-- popup prompt -->
	<div class="modal modal-blur fade" id="promptArea" tabindex="-1" aria-hidden="true" style="display: none">
		<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
			<div class="modal-content">				
				<div class="modal-body">
					<div class="modal-title"><span id="promptQuestion"/></div>
					<div class="modal-title">
						<input type="text" name="promptText" id="promptText" onkeyup="commonPromptEnter(event);"/>
					</div>
					<div class="modal-footer">
						<input type="hidden" id="promptOkAction" value=""><!-- modal에서 OK버튼 클릭 시 수행할 action 지정-->
						<input type="hidden" id="promptTargetObjId" value=""><!-- modal에서 값을 전달할 대상 object 지정-->
						
						<button type="button" class="btn_cancel" data-dismiss="modal" onclick="commonPromptClose()">Cancel</button>
						<button type="button" class="btn_ok" data-dismiss="modal" onclick="commonPromptOk()">OK</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- //popup prompt -->

	<!-- popup alert -->
	<div class="modal fade layerpopup" id="alertArea" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				
				<div class="modal-body">
					<div class="txt"><span id="alertText"/></div>
					<div class="btnbox">
						<input type="hidden" id="alertOkAction" value="">
						<button type="button" class="btn_ok" data-dismiss="modal" onclick="commonAlertClose()">OK</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- //popup alert -->

	<!-- popup alert -->
	<div class="modal fade layerpopup" id="alertResultArea" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-body">
					<div class="txt"><span id="alertResultText"/></div>
					<div class="btnbox">
						<input type="hidden" id="alertResultOkAction" value="">
						<button type="button" class="btn_ok" data-dismiss="modal" onclick="commonResultAlertClose()">OK</button>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- //popup alert -->

	<!-- popup Help -->
	<div class="modal fade layerpopup" id="helpArea" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				
				<div class="modal-body">
					<div class="txt"><span id="helpText"/>How To Use</div>
					<div class="btnbox">						
						<button type="button" class="btn_ok" data-dismiss="modal">OK</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>
<%= javascriptTag("partials/layout/sidebar.js") %>