<!-- create nodegroup form -->
<div class="container-xl">
  <form id="cluster_form">
    <input type="hidden" name="n_name" value="" id="n_name" />
    <input type="hidden" name="n_specid" id="n_specid" />
    <input type="hidden" name="n_imageid" id="n_imageid" />
    <input type="hidden" name="n_minnodesize" id="n_minnodesize" />
    <input type="hidden" name="n_maxnodesize" id="n_maxnodesize" />
    <input type="hidden" name="n_sshkey" id="n_sshkey" />
    <input type="hidden" name="n_rootdisk" id="n_rootdisk" />
    <input type="hidden" name="n_rootdisksize" id="n_rootdisksize" />
    <input type="hidden" name="n_autoscaling" id="n_autoscaling" />
    <input type="hidden" name="n_desirednodesize" id="n_desirednodesize" />
  </form>
  <div class="row">
    <div class="col-md-12">
      <div class="card sub_section" id="nodegroup_configuration">
        <div class="card-header">
          <h3 class="text-info">NodeGroup Configuration</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-2">
                <label class="form-label required">Node Name</label>
                <input
                  class="form-control"
                  name="node_name"
                  id="node_name"
                  rows="1"
                  placeholder="Input Name"
                />
              </div>
              <div class="form-group mb-2">
                <label class="form-label required">Spec</label>
                <select class="form-select" name="node_specid" id="node_specid">
                  <option value="">Select Spec</option>
                  <option value="ali-ap-northeast-2-g7xlarge">[ALIBABA]ecs.g7.xlarge</option>
                  <option value="tencent-tokyo-C4.8XLARGE64">[TENCENT]C4.8XLARGE64</option>
                  <option value="azure-spec02">[AZURE]Standard_F2</option>
                </select>
              </div>

              <div class="form-group mb-2">
                <label class="form-label required">Image</label>
                <select
                  class="form-select"
                  name="node_imageid"
                  id="node_imageid"
                >
                  <option value="">Select Image</option>
                  <option value="alibaba-ap-northeast-2-ubuntu18-04">[ALIBABA]ubuntu_18_04_x64_20G_alibase_20240223.vhd</option>
                  <option value="tencent-tokyo-image01">[TENCENT]C4.8XLARGE64</option>
                  <option value="azure-koreacentral-image">[AZURE]Standard_F2</option>
                </select>
              </div>

              <div class="form-group mb-2">
                <label class="form-label required"
                  >minNodeSize / maxNodeSize</label
                >
                <div class="row g-2">
                  <div class="col-6">
                    <select
                      class="form-select"
                      name="node-minnodesize"
                      id="node_minnodesize"
                    >
                      <option value="">Min</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                  <div class="col-6">
                    <select
                      class="form-select"
                      name="node_maxnodesize"
                      id="node_maxnodesize"
                    >
                      <option value="">Max</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group mb-2">
                <label class="form-label required">sshKey</label>
                <select class="form-select" name="node-sshkey" id="node_sshkey">
                  <option value="">Select sshKey</option>
                </select>
              </div>

              <div class="form-group mb-2">
                <label class="form-label">Root Disk</label>
                <div class="row g-2">
                  <div class="col-6">
                    <select
                      class="form-select"
                      name="node-rootdisk"
                      id="node_rootdisk"
                    >
                      <option value="">Select Root Disk Type</option>
                      <option value="default">default</option>
                      <option value="cloud_essd">cloud_essd</option>
                    </select>
                  </div>
                  <div class="col-6">
                    <textarea
                      class="form-control"
                      rows="1"
                      placeholder="Root Disk Size(GB)"
                      name="node-rootdisksize"
                      id="node_rootdisksize"
                    ></textarea>
                  </div>
                </div>
              </div>

              <div class="form-group mb-2">
                <label class="form-label required">AutoScaling</label>
                <div class="row g-2">
                  <div class="col">
                    <select
                      class="form-select"
                      name="node-autoscaling"
                      id="node_autoscaling"
                      required
                    >
                      <option value="">Select option</option>
                      <option value="true">On</option>
                      <option value="false">Off</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group mb-2">
                <label class="form-label">Desired Node Size</label>
                <div class="row g-2">
                  <div class="col-md-6">
                    <div class="input-number-container">
                      <button class="input-number-decrement">-</button>
                      <input
                        type="number"
                        class="input-number"
                        value="1"
                        min="1"
                        max="5"
                        id="node_desirednodesize"
                      />
                      <button class="input-number-increment">+</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col">
              <div align="right">
                <button type="submit" class="btn btn-secondary">Clear</button>
                <button
                  type="submit"
                  class="btn btn-info"
                  onclick="webconsolejs['partials/operation/manage/clustercreate'].clusterFormDone_btn()"
                >
                  Done
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascriptTag("partials/operation/manage/clustercreate.js") %> <%=
javascriptTag("common/api/services/pmk_api.js") %><!--API 호출-->
