<!-- tab  -->


    <div class="row row-cards">
        <div class="col-12">
            <div class="card" style="border: 0px">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs"  data-bs-toggle="tabs" role="tablist" style="background-color: transparent;">
                        <li class="nav-item" role="presentation">
                            <a href="#tabs-mci-default" class="nav-link active" data-bs-toggle="tab">Default</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#tabs-mci-group" class="nav-link" data-bs-toggle="tab">Group</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#tabs-mci-policy" class="nav-link" data-bs-toggle="tab">Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="tabs-mci-default" role="tabpanel">
                                <%= partial("partials/operation/manage/serverlist_status.html") %>
                            </div>
                            <div class="tab-pane fade" id="tabs-mci-group" role="tabpanel">
                                <%= partial("partials/operation/manage/subgroupvm_status.html") %>
                            </div>
                            
                            <div class="tab-pane fade" id="tabs-mci-policy" role="tabpanel">
                                <%= partial("partials/operation/manage/mcipolicy.html") %>            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
