<div class="card bg-secondary-lt">
  <div class="card-header">
    <h3 class="card-title">
      NodeGroup List / Status
    </h3>
    <div class="card-actions btn-actions">

      <!-- Action -->
      <div class="dropdown">
        <a href="#" class="btn-action" data-bs-toggle="dropdown">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M6 9l6 6l6 -6" />
          </svg>
        </a>
        <div
          class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"
        >
          <a
            class="dropdown-item"
            href="#addnode"
            onclick="webconsolejs['partials/operation/manage/clustercreate'].addNewNodeGroup()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon dropdown-item-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 5l0 14"></path>
              <path d="M5 12l14 0"></path>
            </svg>
            New
          </a>
          <a
            class="dropdown-item"
            data-bs-toggle="modal"
            data-bs-target="#commonDefaultModal"
            onclick="webconsolejs['partials/layout/modal'].commonModal(this,'NodeGroupDelete', 'Would you like to delete NodeGroup ?', 'pages/operation/manage/k8sworkloads.deleteNodeGroup')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon dropdown-item-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 7l16 0"></path>
              <path d="M10 11l0 6"></path>
              <path d="M14 11l0 6"></path>
              <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
              <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
            </svg>
            Delete
          </a>

          <div class="dropdown-divider"></div>

          <a
            class="dropdown-item"
            onclick="webconsolejs['pages/operation/manage/k8sworkloads'].openAutoscalingModal()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon dropdown-item-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M8 8m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
              <path d="M16 16m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
              <path d="M8 4h8a4 4 0 0 1 0 8h-8a4 4 0 0 0 0 8"></path>
            </svg>
            Set Autoscaling
          </a>
          <a
            class="dropdown-item"
            onclick="webconsolejs['pages/operation/manage/k8sworkloads'].openAutoscaleSizeModal()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon dropdown-item-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M21 11v-3a2 2 0 0 0 -2 -2h-6l3 3m0 -6l-3 3"></path>
              <path d="M3 13v3a2 2 0 0 0 2 2h6l-3 -3m0 6l3 -3"></path>
            </svg>
            Change Autoscale Size
          </a>

          <div class="dropdown-divider"></div>

          <a
            class="dropdown-item"
            onclick="webconsolejs['pages/operation/manage/k8sworkloads'].exportNodeGroups()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon dropdown-item-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"
              ></path>
              <path d="M7 11l5 5l5 -5"></path>
              <path d="M12 4l0 12"></path>
            </svg>
            Export to JSON
          </a>
          <a
            class="dropdown-item"
            onclick="document.getElementById('import-nodegroups-file').click()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon dropdown-item-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"
              ></path>
              <path d="M7 9l5 -5l5 5"></path>
              <path d="M12 4l0 12"></path>
            </svg>
            Import from JSON
          </a>
        </div>
      </div>

      <!-- refresh -->
      <a class="btn-action"
        onclick="webconsolejs['pages/operation/manage/k8sworkloads'].getSelectedPmkData()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-refresh"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
          <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
        </svg>
      </a>
      <!-- add nodegroup -->
      <a
        class="btn btn-outline-primary disabled"
        style="pointer-events: none;"
        title="Please select an Active cluster first"
        onclick="webconsolejs['partials/operation/manage/clustercreate'].addNewNodeGroup()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 5l0 14"></path>
          <path d="M5 12l14 0"></path>
        </svg>
        Add NodeGroup
      </a>

    </div>
  </div>
  <div class="card-body">
    <div>
      <ul class="vmStatus-list" id="pmk_nodegroup_info_box"></ul>
    </div>
  </div>

  <!-- Import from JSON: hidden file picker -->
  <input
    type="file"
    id="import-nodegroups-file"
    accept=".json"
    style="display: none"
    onchange="webconsolejs['pages/operation/manage/k8sworkloads'].importNodeGroups(this)"
  />
</div>

<!-- Set Autoscaling modal -->
<div
  class="modal modal-blur fade"
  id="nodegroup-autoscaling-modal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Set Autoscaling</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-2">
          <label class="form-label">NodeGroup</label>
          <input
            type="text"
            class="form-control"
            id="nodegroup-autoscaling-name"
            readonly
          />
        </div>
        <div class="mb-1">
          <label class="form-label required">Autoscaling</label>
          <select class="form-select" id="nodegroup-autoscaling-value">
            <option value="true">On</option>
            <option value="false">Off</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link link-secondary"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          id="nodegroup-autoscaling-submit-btn"
          class="btn btn-primary"
          onclick="webconsolejs['pages/operation/manage/k8sworkloads'].applyAutoscaling()"
        >
          Apply
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Change Autoscale Size modal -->
<div
  class="modal modal-blur fade"
  id="nodegroup-autoscalesize-modal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Autoscale Size</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-2">
          <label class="form-label">NodeGroup</label>
          <input
            type="text"
            class="form-control"
            id="nodegroup-autoscalesize-name"
            readonly
          />
        </div>
        <div class="mb-2">
          <label class="form-label required">Desired Node Size</label>
          <input
            type="number"
            min="0"
            class="form-control"
            id="nodegroup-autoscalesize-desired"
          />
        </div>
        <div class="mb-2">
          <label class="form-label required">Min Node Size</label>
          <input
            type="number"
            min="0"
            class="form-control"
            id="nodegroup-autoscalesize-min"
          />
        </div>
        <div class="mb-1">
          <label class="form-label required">Max Node Size</label>
          <input
            type="number"
            min="0"
            class="form-control"
            id="nodegroup-autoscalesize-max"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link link-secondary"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          id="nodegroup-autoscalesize-submit-btn"
          class="btn btn-primary"
          onclick="webconsolejs['pages/operation/manage/k8sworkloads'].applyAutoscaleSize()"
        >
          Apply
        </button>
      </div>
    </div>
  </div>
</div>

