<!-- server list 클릭 시 -->
<div class="card section" id="nodeGroup_info">
  <div class="card-header">
    <h3 class="card-title">
      NodeGroup Info<span id="server_info_text" class="text-info"> </span>
    </h3>
  </div>
  <div class="card-body">
    <div class="row p-4">
      <div class="col-md-4">
        <div class="form-group mb-2">
          <div class="datagrid">
            <div class="datagrid-item">
              <div class="datagrid-title">Name</div>
              <div class="datagrid-content" id="ng_info_name"></div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Image</div>
              <div class="datagrid-content" id="ng_info_image"></div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Spec</div>
              <div class="datagrid-item">
                <span id="ng_info_spec"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group mb-2">
          <div class="datagrid">
            <div class="datagrid-item">
              <div class="datagrid-title">Key Pair</div>
              <div class="datagrid-content" id="ng_info_keypair"></div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Desired Node Size</div>
              <div class="datagrid-item">
                <span id="ng_info_desirednodesize"></span>
              </div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Min/Max Node Size</div>
              <div
                class="datagrid-content"
                id="ng_info_nodesize"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group mb-2">
          <div class="datagrid">
            <div class="datagrid-item">
              <div class="datagrid-title">Auto Scaling</div>
              <div
                class="datagrid-content"
                id="ng_info_autoscaling"
              ></div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Root Disk Type</div>
              <div class="datagrid-item">
                <span id="ng_info_rootdisktype"></span>
              </div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Root Disk Size</div>
              <div class="datagrid-content" id="ng_info_rootdisksize"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-4">
    <div class="col">
      <%= partial("partials/operation/manage/nodelist_status.html") %>
    </div>
  </div>
</div>
