<div class="container">
    <div class="row">
        <div class="datagrid">
            <div class="datagrid-item">
                <div class="datagrid-title">
                    Connection Name
                </div>
                <div class="datagrid-content" id="server_connection_view_connection_name">
                    
                </div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">
                    Credential
                </div>
                <div class="datagrid-content" id="server_connection_view_credential_name">
                    
                </div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">
                    Cloud Provider(CP)
                </div>
                <div class="datagrid-content" id="server_connection_view_csp">
                    
                </div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">
                    Driver File Name
                </div>
                <div class="datagrid-content" id="server_connection_view_driver_name">
                    
                </div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">
                    Region
                </div>
                <div class="datagrid-content" id="server_connection_view_region">
                    
                </div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">
                    Available Zone
                </div>
                <div class="datagrid-content" id="server_connection_view_zone">
                    
                </div>
            </div>
        </div>
        <div class="row">
            <%= partial("partials/operation/manage/connectionservicemap.html") %>
        </div>
    </div>
</div>