<div class="container">
  <div class="row">
    <!-- 왼쪽 열 -->
    <div class="col-lg-6">
      <div class="datagrid">
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Server ID</div>
          <div class="datagrid-content" id="server_detail_view_server_id"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Server Status</div>
          <div class="datagrid-content" id="server_detail_view_server_status"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Server Spec</div>
          <div class="datagrid-content" id="server_detail_view_server_spec"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Public DNS(IPv4)</div>
          <div class="datagrid-content" id="server_detail_view_public_dns"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Public IP(IPv4)</div>
          <div class="datagrid-content" id="server_detail_view_public_ip"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Region</div>
          <div class="datagrid-content" id="server_detail_view_region"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Zone</div>
          <div class="datagrid-content" id="server_detail_view_zone"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Security Group</div>
          <div class="datagrid-content" id="server_detail_view_security_group_text"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Private DNS</div>
          <div class="datagrid-content" id="server_detail_view_private_dns"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Private IP</div>
          <div class="datagrid-content" id="server_detail_view_private_ip"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Image ID</div>
          <div class="datagrid-content" id="server_detail_view_image_id"></div>
        </div>
      </div>
    </div>
    
    <!-- 오른쪽 열 -->
    <div class="col-lg-6">
      <div class="datagrid">
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Platform</div>
          <div class="datagrid-content" id="server_detail_view_archi"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Operating System</div>
          <div class="datagrid-content" id="server_detail_view_os"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">VPC ID</div>
          <div class="datagrid-content" id="server_detail_view_vpc_id"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Subnet ID</div>
          <div class="datagrid-content" id="server_detail_view_subnet_id"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Network Interface</div>
          <div class="datagrid-content" id="server_detail_view_eth"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Root Device Type</div>
          <div class="datagrid-content" id="server_detail_view_root_device_type"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Root Device</div>
          <div class="datagrid-content" id="server_detail_view_root_device"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Block Device</div>
          <div class="datagrid-content" id="block_device_section"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Keypair Name</div>
          <div class="datagrid-content" id="server_detail_view_keypair_name"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">Access ID / Pwd</div>
          <div class="datagrid-content" id="server_detail_view_access_id_pass"></div>
        </div>
        <div class="datagrid-item mb-3">
          <div class="datagrid-title">User ID / Pwd</div>
          <div class="datagrid-content" id="server_detail_view_user_id_pass"></div>
        </div>
      </div>
    </div>
  </div>
</div>