<!-- server list 클릭 시 -->
<div class="card section" id="server_info">
  <div class="card-header">
    <h3 class="card-title">
      Server Info<span id="server_info_text" class="text-info"> </span>
    </h3>
    <div class="card-actions btn-actions gap-2 ">

      <!-- <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#cmdtestmodal">
        Remote CMD
      </a> -->

      <a
        class="btn"
        data-bs-toggle="modal"     
        data-bs-target="#commonDefaultModal"
        onclick="webconsolejs['partials/layout/modal'].commonModal(this,'Remote CMD', 'Would you like to connect?', 'pages/operation/manage/mci.initremotecmdModal')"
      > 
      Remote CMD
      </a>

      <a
        href="#installsw"
        class="btn btn-outline-dark"
        onclick="webconsolejs['common/util'].installSwtoVm()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 5l0 14"></path>
          <path d="M5 12l14 0"></path>
        </svg>
        Install SW
      </a>

    </div>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="form-group mb-2">
            <img
              class="img-fluid rounded"
              width="80"
              id="mci_server_info_status_img"
            />
          </div>
        </div>
        <div class="col-lg-10">
          <div class="datagrid">
            <div class="row">
              <div class="col-md-6">
                <div class="datagrid-item mb-3">
                  <div class="datagrid-title">
                    <h5>Name</h5>
                  </div>
                  <div class="datagrid-content" id="server_info_name"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="datagrid-item mb-3">
                  <div class="datagrid-title">
                    <h5>Description</h5>
                  </div>
                  <div class="datagrid-content" id="server_info_desc"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row align-items-start">
        <!-- Connection Info -->
        <div class="col-lg-2">
          <div class="form-group mb-2">
            <span id="mci_server_info_connection"></span>
          </div>
        </div>

        <!-- OS and Architecture -->
        <div class="col-lg-2">
          <div class="datagrid">
            <div class="datagrid-item mb-3" style="min-height: 30px">
              <div class="datagrid-title">
                <h5>Operating System</h5>
              </div>
              <div class="datagrid-content" id="server_info_os"></div>
            </div>
            <div class="datagrid-item mb-3" style="min-height: 30px">
              <div class="datagrid-title">
                <h5>Architecture</h5>
              </div>
              <div class="datagrid-content" id="server_info_archi"></div>
            </div>
            <div class="datagrid-item mb-3" style="min-height: 30px">
              <div class="datagrid-title">
                <h5>VMSpecName</h5>
              </div>
              <div class="datagrid-content" id="server_info_vmspec_name"></div>
            </div>
          </div>
        </div>

        <!-- Start Time and Public IP -->
        <div class="col-lg-2">
          <div class="datagrid">
            <div class="datagrid-item mb-3" style="min-height: 30px">
              <div class="datagrid-title">
                <h5>StartTime</h5>
              </div>
              <div class="datagrid-content" id="server_info_start_time"></div>
            </div>
            <div class="datagrid-item mb-3" style="min-height: 30px">
              <div class="datagrid-title">
                <h5>Public IP</h5>
              </div>
              <div class="datagrid-content" id="server_info_public_ip"></div>
            </div>
            <div class="datagrid-item mb-3" style="min-height: 30px">
              <div class="datagrid-title">
                <h5>/ DNS</h5>
              </div>
              <div class="datagrid-content" id="server_info_public_dns"></div>
            </div>
          </div>
        </div>

        <!-- Private IP and Config -->
        <div class="col-lg-2">
          <div class="datagrid">
            <div class="datagrid-item mb-3" style="min-height: 30px">
              <div class="datagrid-title">
                <h5>Private IP</h5>
              </div>
              <div class="datagrid-content" id="server_info_private_ip">d</div>
            </div>
            <div class="datagrid-item mb-3" style="min-height: 30px">
              <div class="datagrid-title">
                <h5>/ DNS</h5>
              </div>
              <div class="datagrid-content" id="server_info_private_dns"></div>
            </div>
            <div class="datagrid-item mb-3" style="min-height: 30px">
              <div class="datagrid-title">
                <h5>ConfigName</h5>
              </div>
              <div
                class="datagrid-content"
                id="server_info_connection_name"
              ></div>
            </div>
          </div>
        </div>

        <!-- VMID, Region, and Zone -->
        <div class="col-lg-2">
          <div class="datagrid">
            <div class="datagrid-item mb-3" style="min-height: 30px">
              <div class="datagrid-title">
                <h5>VMID</h5>
              </div>
              <div class="datagrid-content" id="server_info_cspVMID"></div>
            </div>
            <div class="datagrid-item mb-3" style="min-height: 30px">
              <div class="datagrid-title">
                <h5>Region</h5>
              </div>
              <div class="datagrid-content" id="server_info_region"></div>
            </div>
            <div class="datagrid-item mb-3" style="min-height: 30px">
              <div class="datagrid-title">
                <h5>Zone</h5>
              </div>
              <div class="datagrid-content" id="server_info_zone"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= partial("partials/operation/manage/servertabcards.html") %>
  </div>
  <!-- body end -->
</div>


<div class="modal modal-blur fade" id="cmdtestmodal" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="cmdtestmodal-title">Remote Treminal</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-0"  id="cmdtestmodal-content">
            <div id="xterm-container"></div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Disconnect</button>
          </div>
      </div>
  </div>
</div>
<%= javascriptTag("common/api/services/remotecmd_api.js") %>
