<div class="card border-secondary-lt mb-3">
  <div class="card-header">
    <h3 class="card-title">
      SubGroup List / Status
      <span class="text-info" id="mci_server_group_info_status"> </span>
      <span class="text-secondary" id="mci_server_group_info_count"></span>
    </h3>
    <div class="card-actions btn-actions">
      <button
        id="scaleGroupToggle"
        class="btn btn-outline-primary me-2"
        type="button"
        aria-expanded="false"
        aria-controls="scaleGroupSettings"
      >
        Scale Group Size
      </button>
      <button
        id="checkScalePolicy"
        class="btn btn-outline-primary"
        type="button"
        aria-expanded="false"
        aria-controls="checkScalePolicySettings"
      >
        Check Scale Policy
      </button>
    </div>
  </div>
  <div class="card-body">
    <div>
      <ul class="vmStatus-list" id="subgroup_info_box"></ul>
    </div>
    <div class="collapse mt-3" id="scaleGroupSettings">
      <div class="card card-body">
        <ul id="scaleGroupFormList" class="list-unstyled mb-3"></ul>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-12">
        <%= partial("partials/operation/manage/subgroupvmlist_status.html") %>
      </div>
    </div>
  </div>
</div>