// tabler import : Tabler v1.0.0-beta20
@import './tabler.css';

// tabler Custom Style below

//sideMenu depth
.navbar-nav .nav-item {
  padding: 0 calc(calc(0.625rem * 2) / 2);
  justify-content: flex-start;
}

//summary font size
.card-title.summary {
  font-size: 200%;
}