<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          <%= if (category) { %>
            <%= category %>
          <% } else { %>
            NO category
          <% } %>
        </div>
        <h2 class="page-title">
          <%= if (page) { %>
            <%= page %>
          <% } else { %>
            NO page
          <% } %>
        </h2>
      </div>
    </div>
  </div>
</div>