# mc_web_console_apiserver
mc_web_console_apiserver/vendor/
mc_web_console_apiserver/**/*.log
mc_web_console_apiserver/**/*.sqlite
mc_web_console_apiserver/.idea/
mc_web_console_apiserver/bin/
mc_web_console_apiserver/tmp/
mc_web_console_apiserver/tmp/*
mc_web_console_apiserver/node_modules/
mc_web_console_apiserver/.sass-cache/
mc_web_console_apiserver/public/assets/
mc_web_console_apiserver/.vscode/
mc_web_console_apiserver/.grifter/
mc_web_console_apiserver/.env
mc_web_console_apiserver/**/.DS_Store
mc_web_console_apiserver/*.pid
mc_web_console_apiserver/coverage
mc_web_console_apiserver/coverage.data
mc_web_console_apiserver/.svn
mc_web_console_apiserver/.console_history
mc_web_console_apiserver/.sass-cache/*
mc_web_console_apiserver/.jhw-cache/
mc_web_console_apiserver/jhw.*
mc_web_console_apiserver/*.sublime*
mc_web_console_apiserver/dist/
mc_web_console_apiserver/generated/
mc_web_console_apiserver/.vendor/
mc_web_console_apiserver/.pnp.*
mc_web_console_apiserver/.yarn/*
mc_web_console_apiserver/!.yarn/patches
mc_web_console_apiserver/!.yarn/plugins
mc_web_console_apiserver/!.yarn/releases
mc_web_console_apiserver/!.yarn/sdks
mc_web_console_apiserver/!.yarn/versions
mc_web_console_apiserver/database.yml

# mc_web_console_frontserver
mc_web_console_frontserver/vendor/
mc_web_console_frontserver/**/*.log
mc_web_console_frontserver/**/*.sqlite
mc_web_console_frontserver/.idea/
mc_web_console_frontserver/bin/
mc_web_console_frontserver/tmp/
mc_web_console_frontserver/node_modules/
mc_web_console_frontserver/.sass-cache/
mc_web_console_frontserver/public/assets/
mc_web_console_frontserver/.vscode/
mc_web_console_frontserver/.grifter/
mc_web_console_frontserver/.env
mc_web_console_frontserver/**/.DS_Store
mc_web_console_frontserver/*.pid
mc_web_console_frontserver/coverage
mc_web_console_frontserver/coverage.data
mc_web_console_frontserver/.svn
mc_web_console_frontserver/.console_history
mc_web_console_frontserver/.sass-cache/*
mc_web_console_frontserver/.jhw-cache/
mc_web_console_frontserver/jhw.*
mc_web_console_frontserver/*.sublime*
mc_web_console_frontserver/dist/
mc_web_console_frontserver/generated/
mc_web_console_frontserver/.vendor/
mc_web_console_frontserver/.pnp.*
mc_web_console_frontserver/.yarn/*
mc_web_console_frontserver/!.yarn/patches
mc_web_console_frontserver/!.yarn/plugins
mc_web_console_frontserver/!.yarn/releases
mc_web_console_frontserver/!.yarn/sdks
mc_web_console_frontserver/!.yarn/versions
mc_web_console_frontserver/database.yml

# deploy
devlog/mc_web_console_api.log
devlog/mc_web_console_api.pid
devlog/mc_web_console_front.log
devlog/mc_web_console_front.pid
