# api
api/vendor/
api/**/*.log
api/**/*.sqlite
api/.idea/
api/bin/
api/tmp/
api/tmp/*
api/node_modules/
api/.sass-cache/
api/public/assets/
api/.vscode/
api/.grifter/
api/.env
api/**/.DS_Store
api/*.pid
api/coverage
api/coverage.data
api/.svn
api/.console_history
api/.sass-cache/*
api/.jhw-cache/
api/jhw.*
api/*.sublime*
api/dist/
api/generated/
api/.vendor/
api/.pnp.*
api/.yarn/*
api/!.yarn/patches
api/!.yarn/plugins
api/!.yarn/releases
api/!.yarn/sdks
api/!.yarn/versions


# front
front/vendor/
front/**/*.log
front/**/*.sqlite
front/.idea/
front/.yarn/*
front/!.yarn/patches
front/!.yarn/plugins
front/!.yarn/releases
front/!.yarn/sdks
front/!.yarn/versions
front/yarn.lock
front/package-lock.json
front/tmp/
front/node_modules/
front/.sass-cache/
front/public/assets/
front/.vscode/
front/.grifter/
front/.env
front/**/.DS_Store
front/*.pid
front/coverage
front/coverage.data
front/.svn
front/.console_history
front/.sass-cache/*
front/.jhw-cache/
front/jhw.*
front/*.sublime*
front/dist/
front/generated/
front/.vendor/
front/.pnp.*

front-backup/*

# bin
bin/mc-web-console-api
bin/mc-web-console-api.pid
bin/mc-web-console-api.log
bin/.env

# conf
conf/.env
conf/selfiamauthsetting.yaml
conf/selfiamuser.dat
conf/serverinfo

# scripts
!scripts/.env
scripts/container-volume
conf/api.yaml
bin/mc-web-console-front
node_modules
