title: mc-web-console
description: docs for mc-web-console
theme: just-the-docs

url: https://m-cmp.github.io/mc-web-console

aux_links:
  Github: https://github.com/m-cmp/mc-web-console


nav_external_links:
  - title: API Docs (swagger)
    url: https://m-cmp.github.io/mc-web-console/swagger/


callouts_level: quiet # or loud
callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red