<div class="page-body">
  <div class="col-md-5">
    <%= partial("partials/platformsetting/workspace_summary.html") %>
  </div>
  <div class="col-md-5"></div>
    <%= partial("partials/platformsetting/workspace_list.html") %>
  </div>

  [Tabs]
  <div class="col-md-5"></div>
    <%= partial("partials/platformsetting/workspace_details.html") %>
  </div>
  <div class="col-md-5">
    <%= partial("partials/platformsetting/workspace_projects.html") %>
  </div>
  <div class="col-md-5">
    <%= partial("partials/platformsetting/workspace_sharemembers.html") %>
  </div>
  <div class="col-md-5">
    <%= partial("partials/platformsetting/workspace_accessroles.html") %>
  </div>
</div>


<%= javascriptTag("pages/configuration/workspace/manage.js") %>