<div class="page-body">
  <div class="container-xl">
    <!-- MCI DASHBOARD -->
    <div id="index" class="section">
      <div class="row row-cards">
        <div class="col-md-7">
          <%= partial("partials/operation/manage/mci_status_summary.html") %>
        </div>

        <div class="col-md-5">
          <%= partial("partials/operation/manage/server_status_summary.html") %>
        </div>

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">List of MCI</h3>
              <div
                class="card-actions btn-actions"
                style="justify-content: center"
              >
                <!-- filter -->
                <a
                  class="btn-action"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#filterbody"
                  aria-expanded="false"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-filter"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"
                    />
                  </svg>
                </a>

                <!-- sort -->
                <div class="dropdown">
                  <a href="#" class="btn-action" data-bs-toggle="dropdown">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-arrows-sort"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M3 9l4 -4l4 4m-4 -4v14" />
                      <path d="M21 15l-4 4l-4 -4m4 4v-14" />
                    </svg>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-end dropdown-menu-demo dropdown-menu-arrow"
                  >
                    <a class="dropdown-item" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Action
                    </a>
                    <a class="dropdown-item" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                        ></path>
                        <path
                          d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                        ></path>
                        <path d="M16 5l3 3"></path>
                      </svg>
                      Another action
                    </a>
                  </div>
                </div>

                <!-- Action -->
                <div class="dropdown">
                  <a href="#" class="btn-action" data-bs-toggle="dropdown">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M6 9l6 6l6 -6" />
                    </svg>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-end dropdown-menu-demo dropdown-menu-arrow"
                  >
                    <a
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#commonDefaultModal"
                      onclick="webconsolejs['partials/layout/modal'].commonModal(this,'MciReboot', 'Would you like to reboot MCI ?', 'pages/operation/manage/mci.changeMciLifeCycle', 'reboot')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Reboot
                    </a>
                    <a
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#commonDefaultModal"
                      onclick="webconsolejs['partials/layout/modal'].commonModal(this,'MciSuspend', 'Would you like to suspend MCI ?', 'pages/operation/manage/mci.changeMciLifeCycle', 'suspend')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Suspend
                    </a>
                    <a
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#commonDefaultModal"
                      onclick="webconsolejs['partials/layout/modal'].commonModal(this,'MciResume', 'Would you like to resume MCI ?', 'pages/operation/manage/mci.changeMciLifeCycle', 'resume')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Resume
                    </a>
                    <a
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#commonDefaultModal"
                      onclick="webconsolejs['partials/layout/modal'].commonModal(this,'MciTerminate', 'Would you like to terminate MCI ?', 'pages/operation/manage/mci.changeMciLifeCycle', 'terminate')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Terminate
                    </a>

                    <div class="dropdown-divider"></div>

                    <a
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#commonDefaultModal"
                      onclick="webconsolejs['partials/layout/modal'].commonModal(this,'MciDelete', 'Would you like to delete MCI ?', 'pages/operation/manage/mci.deleteMci')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Delete
                    </a>
                    <a class="dropdown-item" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Export
                    </a>
                  </div>
                </div>

                <!-- refresh -->
                <a
                  class="btn-action"
                  onclick="webconsolejs['pages/operation/manage/mci'].refreshMciList()"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-refresh"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
                    <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
                  </svg>
                </a>
              </div>
            </div>

            <div id="filterbody" class="accordion-collapse collapse">
              <div class="accordion-body p-3">
                <!-- 기존 필터 영역 -->
                <div class="row mb-3">
                  <div class="col-md-6">
                    <h6 class="text-muted mb-2">General Filter</h6>
                    <div class="row">
                      <div class="col-sm-12 col-md-4 row mb-1">
                        <div
                          class="col-4 col-form-label required d-flex justify-content-end"
                        >
                          Field
                        </div>
                        <select class="col form-select" id="filter-field">
                          <option value="name">Name</option>
                          <option value="provider">Provider</option>
                          <option value="statusCount.countTotal">
                            Total Servers
                          </option>
                          <option value="statusCount.countRunning">
                            Running
                          </option>
                          <option value="statusCount.countSuspended">
                            Suspended
                          </option>
                          <option value="statusCount.countTerminated">
                            Terminated
                          </option>
                        </select>
                      </div>

                      <div class="col-sm-12 col-md-3 row mb-1">
                        <div
                          class="col-4 col-form-label d-flex justify-content-end"
                        >
                          Type
                        </div>
                        <select class="col form-select" id="filter-type">
                          <option value="like">like</option>
                          <option value="=">=</option>
                          <option value="<"><</option>
                          <option value="<="><=</option>
                          <option value=">">></option>
                          <option value=">=">>=</option>
                          <option value="!=">!=</option>
                        </select>
                      </div>

                      <div class="col-sm-12 col-md-5 row mb-1">
                        <div
                          class="col-sm-4 col-md-3 col-form-label required d-flex justify-content-end"
                        >
                          Filter
                        </div>
                        <input
                          class="col form-control"
                          id="filter-value"
                          type="text"
                          placeholder="value to filter"
                        />
                        <div class="col-auto">
                          <a
                            id="filter-clear"
                            class="btn btn-icon"
                            type="button"
                            aria-label="Button"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-x"
                            >
                              <path
                                stroke="none"
                                d="M0 0h24v24H0z"
                                fill="none"
                              />
                              <path d="M18 6l-12 12" />
                              <path d="M6 6l12 12" />
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Label 필터 영역 -->
                  <div class="col-md-6">
                    <h6 class="text-muted mb-2">Label Filter</h6>
                    <div class="row">
                      <div class="col-sm-12 col-md-3 row mb-1">
                        <div
                          class="col-4 col-form-label d-flex justify-content-end"
                        >
                          Type
                        </div>
                        <select class="col form-select" id="label-filter-type">
                          <option value="=">=</option>
                          <option value="!=">!=</option>
                          <option value="in">in</option>
                          <option value="notin">notin</option>
                          <option value="exists">exists</option>
                          <option value="!exists">!exists</option>
                        </select>
                      </div>

                      <div class="col-sm-12 col-md-9 row mb-1">
                        <div
                          class="col-sm-4 col-md-3 col-form-label d-flex justify-content-end"
                        >
                          Value
                        </div>
                        <input
                          class="col form-control"
                          id="label-filter-value"
                          type="text"
                          placeholder="env=production,tier=backend"
                        />
                        <div class="col-auto">
                          <a
                            id="label-filter-clear"
                            class="btn btn-icon"
                            type="button"
                            aria-label="Button"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-x"
                            >
                              <path
                                stroke="none"
                                d="M0 0h24v24H0z"
                                fill="none"
                              />
                              <path d="M18 6l-12 12" />
                              <path d="M6 6l12 12" />
                            </svg>
                          </a>
                          <a
                            id="label-filter-apply"
                            class="btn btn-icon"
                            type="button"
                            aria-label="Button"
                            style="margin-left: 5px;"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icons-tabler-outline icon-tabler-check"
                            >
                              <path
                                stroke="none"
                                d="M0 0h24v24H0z"
                                fill="none"
                              />
                              <path d="M5 12l5 5l10 -10" />
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-table table-responsive">
              <!-- Tabulator TABLE SET -->
              <div id="mcilist-table"></div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <%= partial("partials/operation/manage/mciinfo.html") %>
        </div>
      </div>
    </div>

    <!-- MCI CREATE -->

    <!-- TODO : divide to express, simple, expert form  -->
    <div id="mcicreate" class="section">
      <form id="express_form">
        <!-- <input type="hidden" name="specId"  value="" id="p_specId" /> -->
        <!--id 에 간단설정이면 s_, Expert On 이면 e_ , Express On 이면 p_-->
        <input
          type="hidden"
          name="subGroupSize"
          value=""
          id="p_subGroupSize"
        /><!-- vm_cnt에서 subGroupSize로 변경 -->
        <input type="hidden" name="name" value="" id="p_name" />
        <input type="hidden" name="description" id="p_description" />
        <input type="hidden" name="provider" id="p_provider" />
        <input type="hidden" name="image" id="p_imageId" />
        <input type="hidden" name="spec" id="p_specId" />
        <input type="hidden" name="commonSpec" id="p_commonSpecId" />
        <input type="hidden" name="commonImage" id="p_commonImageId" />
        <input type="hidden" name="rootDiskType" id="p_root_disk_type" />
        <input type="hidden" name="rootDiskSize" id="p_root_disk_size" />
        <input
          type="hidden"
          name="connectionName"
          value=""
          id="p_connectionName"
        />
      </form>

      <div class="row row-cards">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Create MCI</h3>
            </div>

            <div class="card-body">
              <div class="mb-3">
                <label class="form-label required">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="mci_name"
                  id="mci_name"
                  placeholder="Input Name"
                />
              </div>

              <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea
                  class="form-control"
                  rows="2"
                  name="mci_desc"
                  id="mci_desc"
                  placeholder="type Description"
                ></textarea>
              </div>

              <div class="mb-3">
                <label class="form-label required">Deployment Algorithm</label>
                <select
                  class="form-select"
                  name="mci_deploy_algorithm"
                  id="mci_deploy_algorithm"
                >
                  <option value="express" selected>Express</option>
                  <option value="simple">Simple</option>
                  <option value="expert">Expert</option>
                </select>
              </div>

              <div class="mb-3">
                <label class="form-label required"
                  >Policy on Partial Failure</label
                >
                <select
                  class="form-select"
                  name="mci_policy_on_partial_failure"
                  id="mci_policy_on_partial_failure"
                >
                  <option value="continue" selected>Continue</option>
                  <option value="rollback">Rollback</option>
                  <option value="refine">Refine</option>
                </select>
                <div class="form-hint">
                  <strong>Continue:</strong> Create MCI with successful VMs,
                  failed VMs remain for manual refinement<br />
                  <strong>Rollback:</strong> Delete entire MCI if any VM fails
                  (all-or-nothing deployment)<br />
                  <strong>Refine:</strong> Automatically clean up failed VMs,
                  keep successful ones (recommended for large deployments)
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <div class="row row-cards">
                    <ul class="removebullet vmStatus-list" id="mci_server_list">
                      <li
                        class="removebullet btn btn-secondary-lt"
                        id="mci_plusVmIcon"
                        onclick="webconsolejs['partials/operation/manage/mcicreate'].displayNewServerForm()"
                      >
                        + SubGroup
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer text-end">
              <button
                type=""
                class="btn btn-primary"
                onclick="webconsolejs['partials/operation/manage/mcicreate'].deployMci()"
              >
                Deploy
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">MCI Creation Steps</h3>
              <ul class="steps steps-vertical">
                <li class="step-item">
                  <div class="h4 m-0">1. MCI Basic Info</div>
                  <div class="text-secondary">Enter MCI name and description</div>
                </li>
                <li class="step-item">
                  <div class="h4 m-0">2. VM Configuration</div>
                  <div class="text-secondary">Click +VM button to configure VM/subGroup</div>
                </li>
                <li class="step-item">
                  <div class="h4 m-0">3. Add Configuration</div>
                  <div class="text-secondary">Click Done button to add configuration</div>
                </li>
                <li class="step-item">
                  <div class="h4 m-0">4. Deploy MCI</div>
                  <div class="text-secondary">Click Deploy button to execute deployment</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- addserver -->
    <div id="addserver" class="section">
      <form id="express_form">
        <!-- <input type="hidden" name="specId"  value="" id="p_specId" /> -->
        <!--id 에 간단설정이면 s_, Expert On 이면 e_ , Express On 이면 p_-->
        <input
          type="hidden"
          name="subGroupSize"
          value=""
          id="p_subGroupSize"
        /><!-- vm_cnt에서 subGroupSize로 변경 -->
        <input type="hidden" name="name" value="" id="p_name" />
        <input type="hidden" name="description" id="p_description" />
        <input type="hidden" name="provider" id="p_provider" />
        <input type="hidden" name="image" id="p_imageId" />
        <input type="hidden" name="spec" id="p_specId" />
        <input type="hidden" name="commonSpec" id="p_commonSpecId" />
        <input type="hidden" name="commonImage" id="p_commonImageId" />
        <input
          type="hidden"
          name="connectionName"
          value=""
          id="p_connectionName"
        />
      </form>

      <div class="row row-cards">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Extend VM</h3>
            </div>

            <div class="card-body">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="extend_mci_name"
                  id="extend_mci_name"
                  value=""
                />
              </div>

              <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea
                  class="form-control"
                  rows="2"
                  name="extend_mci_desc"
                  id="extend_mci_desc"
                  placeholder="type Description"
                ></textarea>
              </div>

              <div class="mb-3">
                <label class="form-label">Deployment Algorithm</label>
                <select
                  class="form-select"
                  name="vm_deploy_algorithm"
                  id="vm_deploy_algorithm"
                >
                  <option value="express">Express</option>
                  <option value="simple">Simple</option>
                  <option value="expert">Expert</option>
                </select>
              </div>

              <div class="card">
                <div class="card-body">
                  <div class="row row-cards">
                    <ul class="vmStatus-list removebullet" id="vm_server_list">
                      <li
                        class="removebullet btn btn-secondary-lt"
                        id="vm_plusVmIcon"
                        onclick="webconsolejs['partials/operation/manage/mcicreate'].displayNewServerForm()"
                      >
                        + VM
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer text-end">
              <button
                type=""
                class="btn btn-primary"
                onclick="webconsolejs['partials/operation/manage/mcicreate'].deployVm()"
              >
                Deploy
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">VM Configuration Steps</h3>
              <ul class="steps steps-vertical">
                <li class="step-item">
                  <div class="h4 m-0">1. Server Name & Description</div>
                  <div class="text-secondary">Enter server name and description</div>
                </li>
                <li class="step-item">
                  <div class="h4 m-0">2. Server Spec</div>
                  <div class="text-secondary">Select provider and server specification</div>
                </li>
                <li class="step-item">
                  <div class="h4 m-0">3. Image & Disk</div>
                  <div class="text-secondary">Choose OS image and configure disk</div>
                </li>
                <li class="step-item">
                  <div class="h4 m-0">4. Network & Labels</div>
                  <div class="text-secondary">Set connection and labels</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ADD POLICY -->
    <div id="addpolicy" class="section">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Create Policy</h3>
        </div>

        <div class="card-body">
          <div class="mb-3">
            <label class="form-label required">Policy name</label>
            <input
              type="text"
              class="form-control"
              name="policy_name"
              id="policy_name"
              placeholder="Input Policy Name"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea
              class="form-control"
              rows="2"
              name="policy_desc"
              id="policy_desc"
              placeholder="Input Policy Description"
            ></textarea>
          </div>

          <div class="form-group mb-2">
            <label class="form-label">Policy Type / placementAlgo</label>
            <div class="row g-2">
              <div class="col-6">
                <input
                  class="form-control"
                  name="policy_type"
                  value="ScaleOut"
                  id="policy_type"
                  readonly
                />
              </div>
              <div class="col-6">
                <select
                  class="form-select"
                  name="policy_placementAlgo"
                  id="policy_placementAlgo"
                >
                  <option value="random" selected>random</option>
                  <option value="location">location</option>
                  <option value="cost">cost</option>
                  <option value="performance">performance</option>
                  <option value="latency">latency</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-2">
                <label class="form-label">Command</label>
                <input
                  class="form-control"
                  name="policy_command"
                  id="policy_command"
                  placeholder="ex: List [ client_ip=$(echo $SSH_CLIENT | awk '{print $1}'); echo SSH client IP is: $client_ip ]"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-2">
                <label class="form-label">UserName</label>
                <input
                  class="form-control"
                  name="policy_username"
                  id="policy_username"
                  placeholder="ex: cb-user"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group mb-2">
                <label class="form-label required">Metric</label>
                <select
                  class="form-select"
                  name="policy_metric"
                  id="policy_ep_metric"
                >
                  <option value="">Select Metric</option>
                  <option value="cpu">CPU Usage</option>
                  <option value="memory">Memory Usage</option>
                  <option value="disk">Disk Usage</option>
                  <option value="network">Network Usage</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group mb-2">
                <label class="form-label required">Operator</label>
                <select
                  class="form-select"
                  name="policy_operator"
                  id="policy_ep_operator"
                >
                  <option value="">Select Operator</option>
                  <option value=">">Greater than (>)</option>
                  <option value=">=">Greater than or equal (>=)</option>
                  <option value="<">Less than (<)</option>
                  <option value="<=">Less than or equal (<=)</option>
                  <option value="==">Equal (==)</option>
                  <option value="!=">Not equal (!=)</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group mb-2">
                <label class="form-label required">Operand</label>
                <input
                  class="form-control"
                  name="policy_operand"
                  id="policy_ep_operand"
                  placeholder="ex: 80 (for 80%)"
                />
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="text-info">Server Configuration</h3>
            </div>
            <div class="card-body">
              <div class="row row-cards">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group mb-2">
                      <label class="form-label required">Server Name</label>
                      <input
                        class="form-control"
                        name="policy_server_name"
                        rows="1"
                        placeholder="Input Name"
                        id="policy_ep_name"
                      />
                    </div>
                    <div class="form-group mb-2">
                      <label class="form-label required">Spec</label>
                      <div class="row g-2">
                        <div class="col">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Please Use Search"
                            name="spec"
                            id="policy_ep_specId"
                          />

                          <input
                            type="hidden"
                            name="provider"
                            id="policy_ep_provider"
                            value=""
                          />
                          <input
                            type="hidden"
                            name="connectionName"
                            id="policy_ep_connectionName"
                            value=""
                          />

                          <input
                            type="hidden"
                            name="commonImageId"
                            id="policy_ep_commonImageId"
                            value=""
                          />
                          <input
                            type="hidden"
                            name="commonSpecId"
                            id="policy_ep_commonSpecId"
                            value=""
                          />
                        </div>
                        <div class="col-auto">
                          <a
                            href="#"
                            class="btn"
                            data-bs-toggle="modal"
                            data-bs-target="#spec-search"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="icon"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              stroke-width="2"
                              stroke="currentColor"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path
                                stroke="none"
                                d="M0 0h24v24H0z"
                                fill="none"
                              ></path>
                              <path
                                d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"
                              ></path>
                              <path d="M21 21l-6 -6"></path>
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="form-group mb-2">
                      <label class="form-label required">Image</label>
                      <div class="row g-2">
                        <div class="col">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Please Use Search"
                            name="image"
                            id="policy_ep_imageId_input"
                          />
                          <input
                            type="hidden"
                            name="commonImageId"
                            id="policy_ep_commonImageId"
                            value=""
                          />
                        </div>
                        <div class="col-auto">
                          <a
                            href="#"
                            class="btn"
                            onclick="webconsolejs['partials/operation/manage/imagerecommendation'].validateAndOpenImageModal(event)"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="icon"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              stroke-width="2"
                              stroke="currentColor"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path
                                stroke="none"
                                d="M0 0h24v24H0z"
                                fill="none"
                              ></path>
                              <path
                                d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"
                              ></path>
                              <path d="M21 21l-6 -6"></path>
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="form-group mb-2">
                      <label class="form-label">Root Disk</label>
                      <div class="row g-2">
                        <div class="col-6">
                          <select
                            class="form-select"
                            name="policy_rootDiskType"
                            onchange="webconsolejs['partials/operation/manage/mcicreate'].changeDiskSize(this.value)"
                            id="policy_ep_root_disk_type"
                          >
                            <option value="">Select Root Disk Type</option>
                          </select>
                        </div>
                        <div class="col-6">
                          <input
                            class="form-control"
                            name="policy_rootDiskSize"
                            rows="1"
                            placeholder="Root Disk Size(GB)"
                            id="policy_ep_root_disk_size"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-group mb-2">
                      <label class="form-label">SubGroup Size</label>
                      <div class="row g-2">
                        <div class="col-md-6">
                          <div class="d-flex align-items-center">
                            <button
                              type="button"
                              class="btn btn-outline-secondary-lt btn-sm"
                            >
                              –
                            </button>
                            <input
                              type="text"
                              id="policy_ep_vm_add_cnt"
                              class="form-control mx-2 text-center"
                              style="width: 60px"
                              value="1"
                              readonly
                            />
                            <button
                              type="button"
                              class="btn btn-outline-secondary-lt btn-sm"
                            >
                              +
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mb-2">
                      <label class="form-label">Description</label>
                      <textarea
                        class="form-control"
                        name="policy_server_description"
                        id="policy_ep_description"
                        rows="3"
                        placeholder="type Description"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer text-end">
          <button
            type=""
            class="btn btn-primary"
            onclick="webconsolejs['pages/operation/manage/mci'].deployPolicy()"
          >
            Deploy
          </button>
        </div>
      </div>
    </div>
    <!-- end of add server area-->
  </div>
  <!-- end of container-x1-->
</div>
<!-- end of page-body -->

<!-- remote commnad -->
<%= javascriptTag("common/api/services/remotecmd_api.js") %>

<!-- MCI Terminal Modal -->
<div
  class="modal modal-blur fade"
  id="mci-cmdtestmodal"
  tabindex="-1"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mci-cmdtestmodal-title">Remote Terminal</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body p-0" id="mci-cmdtestmodal-content">
        <div id="mci-xterm-container"></div>
      </div>

      <div class="modal-body p-0" id="mci-cmdtestmodal-content">
        <div class="accordion" id="mci-command-example-accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="mci-heading-1">
              <button
                class="accordion-button collapsed modal-title"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mci-collapse-1"
                aria-expanded="false"
              >
                Transfer a file
              </button>
            </h2>
            <div
              id="mci-collapse-1"
              class="accordion-collapse collapse"
              data-bs-parent="#mci-command-example-accordion"
            >
              <div class="accordion-body pt-0">
                <!-- Path 입력 필드 추가 -->
                <div class="mb-3">
                  <label for="mci-file-path-input" class="form-label">Target Path</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id="mci-file-path-input" 
                    placeholder="/tmp/" 
                    value="/tmp/"
                  >
                  <div class="form-text">Directory path where the file will be stored</div>
                </div>
                
                <div class="d-grid gap-2">
                  <button
                    id="mci-show-content-btn"
                    class="btn btn-primary"
                    type="button"
                  >
                    Transfer File
                  </button>
                </div>
                <form
                  class="dropzone dz-clickable"
                  id="mci-dropzone-custom"
                  action="./"
                  autocomplete="off"
                  novalidate=""
                >
                  <div class="dz-message">
                    <h3 class="dropzone-msg-title">Drop Down Files</h3>
                    <span class="dropzone-msg-desc"
                      >Upload files (Max 10MB): .txt, .json, .yaml, .conf, .log, .sh</span
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Disconnect
        </button>
      </div>
    </div>
  </div>
</div>

<!-- add server : server configuration -->
<%= partial("partials/operation/manage/mcicreate.html") %>

<!-- add server : spec-search -->
<%= partial("partials/operation/manage/serverrecommendation.html") %>
<!-- add server : image-search -->
<%= partial("partials/operation/manage/imagerecommendation.html") %>
<!-- add server : cspimagelist -->
<%= partial("partials/operation/manage/cspimagelist.html") %>
<!-- add server : cspspeclist -->
<%= partial("partials/operation/manage/cspspeclist.html") %>

<!-- Label Editor Modal -->
<div
  class="modal modal-blur fade"
  id="label-editor-modal"
  tabindex="-1"
  aria-hidden="true"
  style="display: none"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label-editor-title">Label Edit</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Label Management</h3>
            <div
              class="card-actions btn-actions"
              style="justify-content: center"
            >
              <button
                type="button"
                class="btn btn-outline-primary btn-sm"
                onclick="addNewLabelRow()"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 5l0 14"></path>
                  <path d="M5 12l14 0"></path>
                </svg>
                Add Label
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-4">
                <label class="form-label">Key</label>
              </div>
              <div class="col-md-4">
                <label class="form-label">Value</label>
              </div>
              <div class="col-md-4">
                <label class="form-label">Action</label>
              </div>
            </div>
            <div id="label-editor-content">
              <!-- Label 행들이 여기에 동적으로 추가됩니다 -->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="webconsolejs['pages/operation/manage/mci'].saveLabels()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- pageloader-->
<%= partial("partials/layout/pageloader.html") %> <%=
javascriptTag("pages/operation/manage/mci.js") %> <%=
javascriptTag("common/api/services/mci_api.js") %> <%=
javascriptTag("common/api/services/vmimage_api.js") %>
