<div class="page-body">
  <div class="container-xl">
    <!-- PMK DASHBOARD -->
    <div id="index" class="section">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-end align-items-center">
            <!-- <a
              href="#manage"
              class="btn btn-primary"
              onclick="webconsolejs['partials/operation/manage/clustercreate'].addNewPmk()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 5l0 14"></path>
                <path d="M5 12l14 0"></path>
              </svg>
              Add cluster
            </a> -->
          </div>
        </div>
      </div>
      <div class="row row-cards">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">List of Cluster</h3>
              <div class="card-actions btn-actions">
                <!-- filter -->
                <a
                  class="btn-action"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#filterbody"
                  aria-expanded="false"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-filter"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"
                    />
                  </svg>
                </a>

                <!-- sort -->
                <div class="dropdown">
                  <a href="#" class="btn-action" data-bs-toggle="dropdown">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-arrows-sort"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M3 9l4 -4l4 4m-4 -4v14" />
                      <path d="M21 15l-4 4l-4 -4m4 4v-14" />
                    </svg>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-end dropdown-menu-demo dropdown-menu-arrow"
                  >
                    <a class="dropdown-item" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Action
                    </a>
                    <a class="dropdown-item" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                        ></path>
                        <path
                          d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                        ></path>
                        <path d="M16 5l3 3"></path>
                      </svg>
                      Another action
                    </a>
                  </div>
                </div>

                <!-- Action -->
                <div class="dropdown">
                  <a href="#" class="btn-action" data-bs-toggle="dropdown">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M6 9l6 6l6 -6" />
                    </svg>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-end dropdown-menu-demo dropdown-menu-arrow"
                  >
                    <a class="dropdown-item" href="#manage">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      New
                    </a>
                    <a
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#commonDefaultModal"
                      onclick="webconsolejs['partials/layout/modal'].commonModal(this,'PmkDelete', 'Would you like to delete PMK ?', 'pages/operation/manage/pmk.deletePmk')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Delete
                    </a>
                  </div>
                </div>

                <!-- refresh -->
                <a
                  class="btn-action"
                  onclick="webconsolejs['pages/operation/manage/pmk'].refreshPmkList()"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-refresh"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
                    <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
                  </svg>
                </a>
              </div>
            </div>

            <div id="filterbody" class="accordion-collapse collapse">
              <div class="accordion-body p-3 row">
                <div class="col-sm-12 col-md-2 row mb-1">
                  <div
                    class="col-4 col-form-label required d-flex justify-content-end"
                  >
                    Field
                  </div>
                  <select class="col form-select" id="filter-field">
                    <option value="name">Name</option>
                    <option value="provider">Provider</option>
                    <option value="statusCount.countTotal">Node Group</option>
                    <option value="statusCount.countRunning">Running</option>
                    <option value="statusCount.countSuspended">
                      Suspended
                    </option>
                    <option value="statusCount.countTerminated">
                      Terminated
                    </option>
                  </select>
                </div>

                <div class="col-sm-12 col-md-2 row mb-1">
                  <div class="col-4 col-form-label d-flex justify-content-end">
                    Type
                  </div>
                  <select class="col form-select" id="filter-type">
                    <option value="like">like</option>
                    <option value="=">=</option>
                    <option value="<"><</option>
                    <option value="<="><=</option>
                    <option value=">">></option>
                    <option value=">=">>=</option>
                    <option value="!=">!=</option>
                  </select>
                </div>

                <div class="col-sm-12 col-md-8 row mb-1">
                  <div
                    class="col-sm-4 col-md-1 col-form-label required d-flex justify-content-end"
                  >
                    Filter
                  </div>
                  <input
                    class="col form-control"
                    id="filter-value"
                    type="text"
                    placeholder="value to filter"
                  />
                  <div class="col-auto">
                    <a
                      id="filter-clear"
                      class="btn btn-icon"
                      type="button"
                      aria-label="Button"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-x"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M18 6l-12 12" />
                        <path d="M6 6l12 12" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-table table-responsive">
              <!-- Tabulator TABLE SET -->
              <div id="pmklist-table"></div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <%= partial("partials/operation/manage/clusterinfo.html") %>
        </div>
      </div>
    </div>

    <!-- PMK CREATE -->
    <div id="createcluster" class="section">
      <form id="cluster_form">
        <input type="hidden" name="name" value="" id="c_name" />
        <input type="hidden" name="description" id="c_desc" />
        <input type="hidden" name="connection" id="c_connection" />
        <input type="hidden" name="vpc" id="c_vpc" />
        <input type="hidden" name="subnet" id="c_subnet" />
        <input type="hidden" name="sg" id="c_sg" />
        <input type="hidden" name="version" id="c_version" />
      </form>

      <div class="row row-cards">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Create Cluster</h3>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-2">
                    <label class="form-label required">Cluster Name</label>
                    <input
                      class="form-control"
                      name="cluster_name"
                      rows="1"
                      placeholder="Input Name"
                      id="cluster_name"
                    />
                  </div>
                  <div class="form-group mb-2">
                    <label class="form-label">Description</label>
                    <textarea
                      class="form-control"
                      rows="1"
                      placeholder="Input Description"
                      name="cluster_desc"
                      id="cluster_desc"
                    ></textarea>
                  </div>
                  <div class="form-group mb-2">
                    <label class="form-label required"
                      >Cloud Provider / Region</label
                    >
                    <div class="row g-2">
                      <div class="col-6">
                        <select
                          name="cluster-provider"
                          class="form-select"
                          id="cluster_provider"
                        >
                          <option value="">Select Provider</option>
                        </select>
                      </div>
                      <div class="col-6">
                        <select
                          name="cluster-region"
                          class="form-select"
                          id="cluster_region"
                        >
                          <option value="">Select Region</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group mb-2">
                    <label class="form-label required">Cloud Connection</label>
                    <div class="row g-2">
                      <div class="col">
                        <select
                          class="form-select"
                          name="cluster-connection"
                          onchange="webconsolejs['partials/operation/manage/clustercreate'].changeCloudConnection(this.value)"
                          id="cluster_cloudconnection"
                          required
                        >
                          <option value="">Select Connection</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-2">
                    <label class="form-label required">VPC ID</label>
                    <div class="row g-2">
                      <div class="col">
                        <select
                          class="form-select"
                          name="cluster-vpc"
                          id="cluster_vpc"
                          required
                        >
                          <option value="">Select VPC</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-2">
                    <label class="form-label required">Subnet ID</label>
                    <div class="row g-2">
                      <div class="col">
                        <select
                          class="form-select"
                          name="cluster-subnet"
                          id="cluster_subnet"
                          required
                        >
                          <option value="">Select Subnet</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-2">
                    <label class="form-label required">Security Group</label>
                    <div class="row g-2">
                      <div class="col">
                        <select
                          class="form-select"
                          name="cluster-sg"
                          id="cluster_sg"
                          required
                        >
                          <option value="">Select Security Group</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-2">
                    <label class="form-label required">Cluster Version</label>
                    <div class="row g-2">
                      <div class="col">
                        <select
                          class="form-select"
                          name="cluster-version"
                          id="cluster_version"
                          required
                        >
                          <option value="">Select Version</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row row-cards">
                    <ul class="removebullet vmStatus-list" id="nodegroup_list">
                      <li
                        class="removebullet btn btn-secondary-lt"
                        id="nodegroup_plusIcon"
                        onclick="webconsolejs['partials/operation/manage/clustercreate'].displayNewNodeForm()"
                      >
                        + nodeGroup
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-footer text-end">
                <button
                  type=""
                  class="btn btn-primary"
                  onclick="webconsolejs['partials/operation/manage/clustercreate'].deployPmk()"
                >
                  Deploy
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- addnode -->
    <div id="addnode" class="section">
      <form id="express_form">
        <!-- <input type="hidden" name="specId"  value="" id="p_specId" /> -->
        <!--id 에 간단설정이면 s_, Expert On 이면 e_ , Express On 이면 p_-->
        <input
          type="hidden"
          name="subGroupSize"
          value=""
          id="p_subGroupSize"
        /><!-- vm_cnt에서 subGroupSize로 변경 -->
        <input type="hidden" name="name" value="" id="p_name" />
        <input type="hidden" name="description" id="p_description" />
        <input type="hidden" name="provider" id="p_provider" />
        <input type="hidden" name="image" id="p_imageId" />
        <input type="hidden" name="spec" id="p_specId" />
        <input type="hidden" name="commonSpec" id="p_commonSpecId" />
        <input type="hidden" name="commonImage" id="p_commonImageId" />
        <input
          type="hidden"
          name="connectionName"
          value=""
          id="p_connectionName"
        />
      </form>

      <div class="row row-cards">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Add node</h3>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-2">
                    <label class="form-label required">Cluster Name</label>
                    <input
                      class="form-control"
                      name="node_cluster_name"
                      rows="1"
                      placeholder="Input Name"
                      id="node_cluster_name"
                    />
                  </div>
                  <div class="form-group mb-2">
                    <label class="form-label">Description</label>
                    <textarea
                      class="form-control"
                      rows="1"
                      placeholder="Input Description"
                      name="node_cluster_desc"
                      id="node_cluster_desc"
                    ></textarea>
                  </div>
                  <div class="form-group mb-2">
                    <label class="form-label required"
                      >Cloud Provider / Region</label
                    >
                    <div class="row g-2">
                      <div class="col-6">
                        <select
                          name="node_cluster-provider"
                          class="form-select"
                          id="node_cluster_provider"
                        >
                          <option value="">Select Provider</option>
                        </select>
                      </div>
                      <div class="col-6">
                        <select
                          name="node_cluster-region"
                          class="form-select"
                          id="node_cluster_region"
                        >
                          <option value="">Select Region</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group mb-2">
                    <label class="form-label required">Cloud Connection</label>
                    <div class="row g-2">
                      <div class="col">
                        <select
                          class="form-select"
                          name="node_cluster-connection"
                          onchange="webconsolejs['partials/operation/manage/clustercreate'].changeCloudConnection(this.value)"
                          id="node_cluster_cloudconnection"
                          required
                        >
                          <option value="">Select Connection</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-2">
                    <label class="form-label required">VPC ID</label>
                    <div class="row g-2">
                      <div class="col">
                        <select
                          class="form-select"
                          name="node_cluster-vpc"
                          id="node_cluster_vpc"
                          required
                        >
                          <option value="">Select VPC</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-2">
                    <label class="form-label required">Subnet ID</label>
                    <div class="row g-2">
                      <div class="col">
                        <select
                          class="form-select"
                          name="node_cluster-subnet"
                          id="node_cluster_subnet"
                          required
                        >
                          <option value="">Select Subnet</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-2">
                    <label class="form-label required">Security Group</label>
                    <div class="row g-2">
                      <div class="col">
                        <select
                          class="form-select"
                          name="node_cluster-sg"
                          id="node_cluster_sg"
                          required
                        >
                          <option value="">Select Security Group</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-2">
                    <label class="form-label required">Cluster Version</label>
                    <div class="row g-2">
                      <div class="col">
                        <select
                          class="form-select"
                          name="node_cluster-version"
                          id="node_cluster_version"
                          required
                        >
                          <option value="">Select Version</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row row-cards">
                    <ul
                      class="removebullet vmStatus-list"
                      id="addnodegroup_list"
                    >
                      <li
                        class="removebullet btn btn-secondary-lt"
                        id="addnodegroup_plusIcon"
                        onclick="webconsolejs['partials/operation/manage/clustercreate'].displayNewNodeForm()"
                      >
                        + NodeGroup
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-footer text-end">
                <button
                  type=""
                  class="btn btn-primary"
                  onclick="webconsolejs['partials/operation/manage/clustercreate'].deployNode()"
                >
                  Deploy
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="pageloader" class="section">
      <div class="page page-center">
        <div class="container container-slim py-4">
          <div class="text-center">
            <div class="mb-3">
              <a href="." class="navbar-brand navbar-brand-autodark"
                ><img
                  src="/assets/static/logo/logo-small.svg"
                  height="36"
                  alt=""
              /></a>
            </div>
            <div class="text-secondary mb-3">Preparing Data</div>
            <div class="progress progress-sm">
              <div class="progress-bar progress-bar-indeterminate"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- add node : node configuration -->
<%= partial("partials/operation/manage/clustercreate.html") %>

<!-- add server : spec-search -->
<%= partial("partials/operation/manage/clusterrecommendation.html") %>
<!-- add server : cspimagelist -->
<%= partial("partials/operation/manage/cspimagelist.html") %>
<!-- add server : cspspeclist -->
<%= partial("partials/operation/manage/cspspeclist.html") %> <%=
javascriptTag("pages/operation/manage/pmk.js") %> <%=
javascriptTag("common/api/services/pmk_api.js") %> <%=
javascriptTag("common/api/services/vmimage_api.js") %>
