<div class="page-body">
  <div class="container-xl">
    <!-- MCIS DASHBOARD -->
    <div id="index" class="section">
      <div class="row row-cards">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">modalTest</h3>
            </div>

            <div class="card-body">
              <div class="btn-list">
                <a
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#commonDefaultModal"
                  onclick="webconsolejs['partials/layout/modal'].commonModal(this,'customeTitle','Here Modal content','pages/operation/manage/mcis.commoncallbac','Arg')"
                >
                  commonDefaultModal
                </a>
                <a
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#commonLargeModal"
                  onclick="webconsolejs['partials/layout/modal'].commonModal(this,'customeTitle','Here Modal content','pages/operation/manage/mcis.commoncallbac','Arg')"
                >
                  commonLargeModal
                </a>
                <a
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#commonfullwidthModal"
                  onclick="webconsolejs['partials/layout/modal'].commonModal(this,'customeTitle','Here Modal content','pages/operation/manage/mcis.commoncallbac','Arg')"
                >
                  commonfullwidthModal
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">MCIS Status</h3>
            </div>

            <div class="card-body">
              <div class="row row-cards">
                <div class="col-md-6">
                  <div class="card card-borderless">
                    <div class="card-header">
                      <h1 class="card-title" id="total_mcis">0</h1>
                    </div>
                  </div>
                </div>

                <div class="col-md">
                  <div class="card bg-blue text-primary-fg">
                    <div class="card-header text-center">
                      <h1 class="card-title mx-auto" id="mcis_status_running">
                        0
                      </h1>
                    </div>
                  </div>
                </div>

                <div class="col-md">
                  <div class="card bg-red text-primary-fg">
                    <div class="card-header">
                      <h1 class="card-title mx-auto" id="mcis_status_stopped">
                        0
                      </h1>
                    </div>
                  </div>
                </div>

                <div class="col-md">
                  <div class="card bg-muted text-primary-fg">
                    <div class="card-header">
                      <h1
                        class="card-title mx-auto"
                        id="mcis_status_terminated"
                      >
                        0
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Server Status</h3>
            </div>

            <div class="card-body">
              <div class="row row-cards">
                <div class="col-md-6">
                  <div class="card card-borderless">
                    <div class="card-header">
                      <h1 class="card-title" id="total_vm">0</h1>
                    </div>
                  </div>
                </div>

                <div class="col-md">
                  <div class="card bg-blue text-primary-fg">
                    <div class="card-header">
                      <h1 class="card-title mx-auto" id="vm_status_running">
                        0
                      </h1>
                    </div>
                  </div>
                </div>

                <div class="col-md">
                  <div class="card bg-red text-primary-fg">
                    <div class="card-header">
                      <h1 class="card-title mx-auto" id="vm_status_stopped">
                        0
                      </h1>
                    </div>
                  </div>
                </div>

                <div class="col-md">
                  <div class="card bg-muted text-primary-fg">
                    <div class="card-header">
                      <h1 class="card-title mx-auto" id="vm_status_terminated">
                        0
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">List of MCIS</h3>
              <div class="card-actions btn-actions">
                <a href="#manage" class="btn btn-primary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 5l0 14"></path>
                    <path d="M5 12l14 0"></path>
                  </svg>
                  Add mcis
                </a>

                <!-- filter -->
                <a
                  class="btn-action"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#filterbody"
                  aria-expanded="false"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-filter"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"
                    />
                  </svg>
                </a>

                <!-- sort -->
                <div class="dropdown">
                  <a href="#" class="btn-action" data-bs-toggle="dropdown">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-arrows-sort"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M3 9l4 -4l4 4m-4 -4v14" />
                      <path d="M21 15l-4 4l-4 -4m4 4v-14" />
                    </svg>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-end dropdown-menu-demo dropdown-menu-arrow"
                  >
                    <a class="dropdown-item" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Action
                    </a>
                    <a class="dropdown-item" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                        ></path>
                        <path
                          d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                        ></path>
                        <path d="M16 5l3 3"></path>
                      </svg>
                      Another action
                    </a>
                  </div>
                </div>

                <!-- Action -->
                <div class="dropdown">
                  <a href="#" class="btn-action" data-bs-toggle="dropdown">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M6 9l6 6l6 -6" />
                    </svg>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-end dropdown-menu-demo dropdown-menu-arrow"
                  >
                    <a
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#commonDefaultModal"
                      onclick="webconsolejs['partials/layout/modal'].commonlModal(this,'McisReboot', 'Would you like to reboot MCIS ?', 'pages/operation/manage/mcis.mcisLifeCycle', 'reboot')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Reboot
                    </a>
                    <a
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#commonDefaultModal"
                      onclick="webconsolejs['partials/layout/modal'].commonModal(this,'McisSuspend', 'Would you like to suspend MCIS ?', 'pages/operation/manage/mcis.mcisLifeCycle', 'suspend')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Suspend
                    </a>
                    <a
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#commonDefaultModal"
                      onclick="webconsolejs['partials/layout/modal'].commonModal(this,'McisResume', 'Would you like to resume MCIS ?', 'pages/operation/manage/mcis.mcisLifeCycle', 'resume')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Resume
                    </a>
                    <a
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#commonDefaultModal"
                      onclick="webconsolejs['partials/layout/modal'].commonModal(this,'McisTerminate', 'Would you like to terminate MCIS ?', 'pages/operation/manage/mcis.mcisLifeCycle', 'terminate')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Terminate
                    </a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="#manage">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      New
                    </a>
                    <a class="dropdown-item" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Delete
                    </a>
                    <a class="dropdown-item" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon dropdown-item-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                        ></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      </svg>
                      Export
                    </a>
                  </div>
                </div>

                <!-- refresh -->
                <a class="btn-action">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-refresh"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
                    <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
                  </svg>
                </a>
              </div>
            </div>

            <div id="filterbody" class="accordion-collapse collapse">
              <div class="accordion-body p-3 row">
                <div class="col-sm-12 col-md-2 row mb-1">
                  <div
                    class="col-4 col-form-label required d-flex justify-content-end"
                  >
                    Field
                  </div>
                  <select class="col form-select" id="filter-field">
                    <option value="name">Name</option>
                    <option value="provider">Provider</option>
                    <option value="statusCount.countTotal">
                      Total Servers
                    </option>
                    <option value="statusCount.countRunning">Running</option>
                    <option value="statusCount.countSuspended">
                      Suspended
                    </option>
                    <option value="statusCount.countTerminated">
                      Terminated
                    </option>
                  </select>
                </div>

                <div class="col-sm-12 col-md-2 row mb-1">
                  <div class="col-4 col-form-label d-flex justify-content-end">
                    Type
                  </div>
                  <select class="col form-select" id="filter-type">
                    <option value="like">like</option>
                    <option value="=">=</option>
                    <option value="<"><</option>
                    <option value="<="><=</option>
                    <option value=">">></option>
                    <option value=">=">>=</option>
                    <option value="!=">!=</option>
                  </select>
                </div>

                <div class="col-sm-12 col-md-8 row mb-1">
                  <div
                    class="col-sm-4 col-md-1 col-form-label required d-flex justify-content-end"
                  >
                    Filter
                  </div>
                  <input
                    class="col form-control"
                    id="filter-value"
                    type="text"
                    placeholder="value to filter"
                  />
                  <div class="col-auto">
                    <a
                      id="filter-clear"
                      class="btn btn-icon"
                      type="button"
                      aria-label="Button"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-x"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M18 6l-12 12" />
                        <path d="M6 6l12 12" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-table table-responsive">
              <!-- Tabulator TABLE SET -->
              <div id="mcislist-table"></div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <%= partial("partials/operation/manage/mcisinfo.html") %>
        </div>
      </div>
    </div>

    <!-- MCIS CREATE -->

    <!-- TODO : divide to express, simple, expert form  -->
    <div id="manage" class="section ">
      <form id="express_form">
        <!-- <input type="hidden" name="specId"  value="" id="p_specId" /> -->
        <!--id 에 간단설정이면 s_, Expert On 이면 e_ , Express On 이면 p_-->
        <input
          type="hidden"
          name="subGroupSize"
          value=""
          id="p_subGroupSize"
        /><!-- vm_cnt에서 subGroupSize로 변경 -->
        <input type="hidden" name="name" value="" id="p_name" />
        <input type="hidden" name="description" id="p_description" />
        <input type="hidden" name="provider" id="p_provider" />
        <input type="hidden" name="image" id="p_imageId" />
        <input type="hidden" name="spec" id="p_specId" />
        <input type="hidden" name="commonSpec" id="p_commonSpecId" />
        <input type="hidden" name="commonImage" id="p_commonImageId" />
        <input
          type="hidden"
          name="connectionName"
          value=""
          id="p_connectionName"
        />
      </form>

      <div class="row row-cards">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Create MCIS</h3>
            </div>

            <div class="card-body">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="mcis_name"
                  id="mcis_name"
                  placeholder="Input Name"
                />
              </div>

              <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea
                  class="form-control"
                  rows="2"
                  name="mcis_desc"
                  id="mcis_desc"
                  placeholder="type Description"
                >
                </textarea>
              </div>

              <div class="mb-3">
                <label class="form-label">Deployment Algorithm</label>
                <select
                  class="form-select"
                  name="deploy_algorithm"
                  id="deploy_algorithm"
                >
                  <option value="express">Express</option>
                  <option value="simple">Simple</option>
                  <option value="expert">Expert</option>
                </select>
              </div>

              <div class="card">
                <div class="card-body">
                  <div class="row row-cards">
                    <div class="list">
                      <ul class="removebullet" id="mcis_server_list">
                        <li class="removebullet" id="plusVmIcon">
                          <div
                            class="server server_add btn btn-primary"
                            onclick="webconsolejs['pages/operation/manage/createmcis'].displayNewServerForm()"
                          >
                            +
                            <!-- <a href="#">+</a> -->
                          </div>
                        </li>
                      </ul>
                      <!-- <button class="btn btn-primary" onclick="webconsolejs['pages/operation/manage/createmcis'].displayNewServerForm()">+</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer text-end">
              <button type="" class="btn btn-primary" onclick="webconsolejs['pages/operation/manage/createmcis'].deployMcis()">Deploy</button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Steps</h3>
              <ul class="steps steps-vertical">
                <li class="step-item active">
                  <div class="h4 m-0">MCIS Name</div>
                  <div class="text-secondary">MCIS Name input ex) mcis01</div>
                </li>
                <li class="step-item">
                  <div class="h4 m-0">Order received</div>
                  <div class="text-secondary">Lorem ipsum dolor sit amet.</div>
                </li>
              </ul>
            </div>

            <div class="card-body">
              <ul class="steps steps-counter steps-vertical">
                <li class="step-item active">Step one</li>
                <li class="step-item">Step two</li>
                <li class="step-item">Step three</li>
                <li class="step-item">Step four</li>
                <li class="step-item">Step five</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- addserver -->

    <div id="addserver" class="section">
    
      <form id="express_form">
        <!-- <input type="hidden" name="specId"  value="" id="p_specId" /> -->
        <!--id 에 간단설정이면 s_, Expert On 이면 e_ , Express On 이면 p_-->
        <input
          type="hidden"
          name="subGroupSize"
          value=""
          id="p_subGroupSize"
        /><!-- vm_cnt에서 subGroupSize로 변경 -->
        <input type="hidden" name="name" value="" id="p_name" />
        <input type="hidden" name="description" id="p_description" />
        <input type="hidden" name="provider" id="p_provider" />
        <input type="hidden" name="image" id="p_imageId" />
        <input type="hidden" name="spec" id="p_specId" />
        <input type="hidden" name="commonSpec" id="p_commonSpecId" />
        <input type="hidden" name="commonImage" id="p_commonImageId" />
        <input
          type="hidden"
          name="connectionName"
          value=""
          id="p_connectionName"
        />
      </form>

      <div class="row row-cards">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Extend VM</h3>
            </div>

            <div class="card-body">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="mcis_name"
                  id="extend_mcis_name"
                  value=""
                />
              </div>

              <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea
                  class="form-control"
                  rows="2"
                  name="mcis_desc"
                  id="extend_mcis_desc"
                  placeholder="type Description"
                >
                </textarea>
              </div>

              <div class="mb-3">
                <label class="form-label">Deployment Algorithm</label>
                <select
                  class="form-select"
                  name="deploy_algorithm"
                  id="deploy_algorithm"
                >
                  <option value="express">Express</option>
                  <option value="simple">Simple</option>
                  <option value="expert">Expert</option>
                </select>
              </div>

              <div class="card">
                <div class="card-body">
                  <div class="row row-cards">
                    <div class="list">
                      <ul class="removebullet" id="mcis_server_list">
                        <li class="removebullet" id="plusVmIcon">
                          <div
                            class="server server_add btn btn-primary"
                            onclick="webconsolejs['pages/operation/manage/createmcis'].displayNewServerForm()"
                          >
                            +
                            <!-- <a href="#">+</a> -->
                          </div>
                        </li>
                      </ul>
                      <!-- <button class="btn btn-primary" onclick="webconsolejs['pages/operation/manage/createmcis'].displayNewServerForm()">+</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer text-end">
              <button
                type=""
                class="btn btn-primary"
                onclick="webconsolejs['pages/operation/manage/createmcis'].deployMcis()"
              >
                Deploy
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Steps</h3>
              <ul class="steps steps-vertical">
                <li class="step-item active">
                  <div class="h4 m-0">MCIS Name</div>
                  <div class="text-secondary">MCIS Name input ex) mcis01</div>
                </li>
                <li class="step-item">
                  <div class="h4 m-0">Order received</div>
                  <div class="text-secondary">Lorem ipsum dolor sit amet.</div>
                </li>
              </ul>
            </div>

            <div class="card-body">
              <ul class="steps steps-counter steps-vertical">
                <li class="step-item active">Step one</li>
                <li class="step-item">Step two</li>
                <li class="step-item">Step three</li>
                <li class="step-item">Step four</li>
                <li class="step-item">Step five</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>




  </div>
</div>

<!-- server configuration -->
<div class="container-xl">
  <div class="row">
    <div class="col-md-12">
      <div class="card section" id="server_configuration">
        <div class="card-header">
          <h3 class="text-info">Server Configuration</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-2">
                <label class="form-label required">Server Name</label>
                <input
                  class="form-control"
                  name="server_name"
                  rows="1"
                  placeholder="Input Name"
                  id="ep_name"
                />
              </div>
              <div class="form-group mb-2">
                <label class="form-label required">Spec</label>
                <div class="row g-2">
                  <div class="col">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Please Use Search"
                      name="spec"
                      id="ep_specId"
                    />

                    <input
                      type="hidden"
                      name="provider"
                      id="ep_provider"
                      value=""
                    />
                    <input
                      type="hidden"
                      name="connectionName"
                      id="ep_connectionName"
                      value=""
                    />
                    <input
                      type="hidden"
                      name="imageId"
                      id="ep_imageId"
                      value=""
                    />
                    <input
                      type="hidden"
                      name="commonImageId"
                      id="ep_commonImageId"
                      value=""
                    />
                    <input
                      type="hidden"
                      name="commonSpecId"
                      id="ep_commonSpecId"
                      value=""
                    />
                  </div>
                  <div class="col-auto">
                    <a
                      href="#"
                      class="btn"
                      data-bs-toggle="modal"
                      data-bs-target="#spec-search"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path
                          d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"
                        ></path>
                        <path d="M21 21l-6 -6"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>

              <div class="form-group mb-2">
                <label class="form-label required">Root Disk</label>
                <div class="row g-2">
                  <div class="col-6">
                    <select
                      class="form-select"
                      name="rootDiskType"
                      onchange="webconsolejs['pages/operation/manage/createmcis'].changeDiskSize(this.value)"
                      id="ep_root_disk_type"
                    >
                      <option value="">Select Root Disk Type</option>
                    </select>
                  </div>
                  <div class="col-6">
                    <textarea
                      class="form-control"
                      name="rootDiskSize"
                      rows="1"
                      placeholder="Root Disk Size(GB)"
                      id="ep_root_disk_size"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group mb-2">
                <label class="form-label">Server Quantity</label>
                <input
                  type="range"
                  class="form-range mb-2"
                  value="1"
                  min="0"
                  max="100"
                  step="1"
                  oninput="this.nextElementSibling.value = this.value"
                />
                <output id="ep_vm_add_cnt">1</output>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-2">
                <label class="form-label">Description</label>
                <textarea
                  class="form-control"
                  name="server_description"
                  id="ep_description"
                  rows="3"
                  placeholder="type Description"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div align="right">
            <button type="submit" class="btn btn-secondary">Clear</button>
            <button
              type="submit"
              class="btn btn-info"
              onclick="webconsolejs['pages/operation/manage/createmcis'].expressDone_btn()"
            >
              Done
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- spec-search -->
<div
  class="modal modal-blur fade"
  id="spec-search"
  tabindex="-1"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-info">Server Configuration</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="form-group mb-2">
            <label class="form-label">Priority Option / Limit (location)</label>
            <div class="row g-2">
              <div class="col-6">
                <input type="hidden" id="latitude" />
                <input type="hidden" id="longitude" />
                <select
                  class="form-select"
                  id="assistRecommendSpecConnectionName"
                  name="assistRecommendSpecConnectionName"
                  onchange="webconsolejs['pages/operation/manage/createmcis'].showRecommendSpecSetting(this.value)"
                >
                  <option value="">Select Region</option>
                  <option value="seoul">Seoul</option>
                  <option value="london">London</option>
                  <option value="newyork">NewYork</option>
                </select>
                <!-- <select name="user[day]" class="form-select">
                    <option value="">Select Priority</option>
                    <option value="location">Location</option>
                    <option value="cost">Cost</option>
                  </select> -->
              </div>
              <!-- <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Please Use Search"
                />
              </div> -->
              <div class="col-auto">
                <a
                  class="btn btn-icon"
                  aria-label="Button"
                  onclick="webconsolejs['pages/operation/manage/createmcis'].getRecommendVmInfo()"
                >
                  <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                    <path d="M21 21l-6 -6"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label class="form-label">Memory (GB)</label>
            <input
              type="range"
              class="form-range mb-2"
              id="assist_num_memory"
              value="1"
              min="1"
              max="100"
              step="1"
              oninput="this.nextElementSibling.value = this.value"
            />

            <output>1</output>
          </div>
          <div class="col-md-4">
            <label class="form-label">vCPU</label>
            <input
              type="range"
              class="form-range mb-2"
              id="assist_num_cpu"
              value="1"
              min="1"
              max="100"
              step="1"
              oninput="this.nextElementSibling.value = this.value"
            />

            <output>1</output>
          </div>
          <div class="col-md-4">
            <label class="form-label">COST (Hour)</label>
            <input
              type="range"
              class="form-range mb-2"
              id="assist_num_cost"
              value="1"
              min="0"
              max="100"
              step="1"
              oninput="this.nextElementSibling.value = this.value"
            />

            <output>1</output>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="table-responsive" id="spec-table"></div>
      </div>
      <div class="modal-footer">
        <div align="right">
          <button
            type="submit"
            class="btn btn-info"
            onclick="webconsolejs['pages/operation/manage/createmcis'].applySpecInfo()"
          >
            Apply
          </button>
          <button type="submit" class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascriptTag("pages/operation/manage/createmcis.js") %> <%=
javascriptTag("pages/operation/manage/mcis.js") %>
