// sequential-workflow-designer import
@import "~sequential-workflow-designer/css/designer.css";
@import "~sequential-workflow-designer/css/designer-light.css";
@import "~sequential-workflow-designer/css/designer-dark.css";

//tabler
@import "./inter/inter.css"; // font
@import "./tabler_custom.scss";

// tabulator Custom CSS
@import "./tabulator_for_tabler.scss";

.section {
  display: none;
}
.section.active {
  display: block;
}

.vmStatus-list {
  max-height: 150px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.vmStatus-list li {
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: calc(100% / 2); /* 기본적으로 한 줄에 2개의 아이템을 배치 */
  height: 100px;
  display: inline-block;
  margin: 10px 0;
  text-align: center;
  line-height: 100px;
  font-size: 16px;
  border-radius: 15px;
  // transition: background-color 0.3s; /* 배경색 변화 애니메이션 */
  cursor: pointer; /* 클릭 가능 커서 */
}
.vmStatus-list li.clicked {
  background-color: #17a2b8; /* 클릭 시 배경색 변경 */
}
.removebullet {
  list-style-type: none;
  padding-left: 0px;
  flex-wrap: wrap;
}

// .dashboard .create_box .new_servers_config.active {
// 	display: block;
// }

// .dashboard .create_box .express_servers_config.active {
// 	display: block;
// }

/* 화면 폭이 1px 이상 400px 미만일 때 */
@media (max-width: 399px) {
  .vmStatus-list li {
    width: calc(100% / 2); /* 한 줄에 3개의 아이템을 배치 */
  }
}

/* 화면 폭이 400px 이상 600px 미만일 때 */
@media (min-width: 400px) and (max-width: 599px) {
  .vmStatus-list li {
    width: calc(100% / 3); /* 한 줄에 3개의 아이템을 배치 */
  }
}

/* 화면 폭이 600px 이상 900px 미만일 때 */
@media (min-width: 600px) and (max-width: 899px) {
  .vmStatus-list li {
    width: calc(100% / 4); /* 한 줄에 4개의 아이템을 배치 */
  }
}

/* 화면 폭이 900px 이상일 때 */
@media (min-width: 900px) {
  .vmStatus-list li {
    width: calc(100% / 5); /* 한 줄에 5개의 아이템을 배치 */
  }
}
