
//Main Theme Variables
$backgroundColor: var(--tblr-table-bg); //background color of tabulator
$borderColor:var(--tblr-table-border-color); //border to tabulator
$textSize:16px; //table text size

//header theming
$headerBackgroundColor:transparent; //border to tabulator
$headerTextColor:inherit; //header text color
$headerBorderColor: var(--tblr-border-color-translucent);  //header border color
$headerSeparatorColor:var(--tblr-table-border-color); //header bottom separator color
$headerMargin:8px; //padding round header

//column header arrows
$sortArrowHover: #555;
$sortArrowActive: #666;
$sortArrowInactive: #bbb;

//row theming
$rowBackgroundColor:transparent; //table row background color
$rowAltBackgroundColor:transparent; //table row background color
$rowBorderColor:var(--tblr-table-border-color); //table border color
$rowTextColor:inherit; //table text color
$rowHoverBackground:rgba(0, 0, 0, 0.1); //row background color on hover

$rowSelectedBackground: var(--tblr-link-color); //row background color when selected
$rowSelectedBackgroundHover: var(--tblr-link-hover-color);//row background color when selected and hovered

$editBoxColor:#1D68CD; //border color for edit boxes
$errorColor:#dd0000; //error indication

//footer theming
$footerBackgroundColor:#e6e6e6; //border to tabulator
$footerTextColor:#555; //footer text color
$footerBorderColor:#aaa; //footer border color
$footerSeparatorColor:#999; //footer bottom separator color
$footerActiveColor:#d00; //footer bottom active text color

//range selection
$rangeBorderColor: #2975DD; //range border color
$rangeHandleColor: $rangeBorderColor; //range handle color
$rangeHeaderSelectedBackground: #3876ca; //header background color when selected
$rangeHeaderSelectedTextColor: #FFFFFF; //header text color when selected
$rangeHeaderHighlightBackground: #D6D6D6; //header background color when highlighted
$rangeHeaderTextHighlightBackground: #000000; //header text color when highlighted


// Tabulator 기본 SCSS. 아래서 재 정의.
@import  "~tabulator-tables/src/scss/tabulator.scss";

// 기본 CSS BS5 일부 참조
.tabulator .tabulator-header {
    padding: $headerMargin;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    font-size: $textSize*0.8;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
}

// .tabulator-row .tabulator-cell {
//     position: relative;
//     box-sizing: border-box;
//     border-top: 1px solid var(--tblr-border-color-translucent);
//     min-height: $textSize + ($headerMargin * 4);
//     // padding: 0.75rem 0.75rem;
//     color: var(--tblr-table-color-state, var(--tblr-table-color-type, var(--tblr-table-color)));
// }

.tabulator-row .tabulator-cell {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: $headerMargin * 2;
    border-top: 1px solid var(--tblr-border-color-translucent);
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
}