<!-- tab  -->
<div class="container-xl">
    <div class="row row-cards">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
                        <li class="nav-item">
                            <a href="#tabs-monitoringconfig-details" id="tabs-monitoringconfig-details-tab-button"class="nav-link active" data-bs-toggle="tab">Details</a>
                        </li>
                        <li class="nav-item">
                            <a href="#tabs-monitoringconfig-metrics" id="tabs-monitoringconfig-metrics-tab-button" class="nav-link" data-bs-toggle="tab">Metrics</a>
                        </li>
                        <li class="nav-item">
                            <a href="#tabs-monitoringconfig-logs" id="tabs-monitoringconfig-logs-tab-button" class="nav-link" data-bs-toggle="tab">Logs</a>
                        </li>
                        <li class="nav-item">
                            <a href="#tabs-monitoringconfig-monitorStorages" id="tabs-monitoringconfig-monitorStorages-tab-button" class="nav-link" data-bs-toggle="tab">Monitor Storages</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="tabs-monitoringconfig-details">
                                <%= partial("partials/operations/analytics/monitorings/monitoringconfig_detail.html") %>
                            </div>
                            <div class="tab-pane fade" id="tabs-monitoringconfig-metrics">
                                <%= partial("partials/operations/analytics/monitorings/monitoringconfig_metric.html") %>
                            </div>
                            
                            <div class="tab-pane fade" id="tabs-monitoringconfig-logs">
                                <%= partial("partials/operations/analytics/monitorings/monitoringconfig_log.html") %>            
                            </div>

                            <div class="tab-pane fade" id="tabs-monitoringconfig-monitorStorages">
                                <%= partial("partials/operations/analytics/monitorings/monitoringconfig_log.html") %>            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>