<div class="dropdown">
  <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">Filter</a>
  <div class="dropdown-menu bg-dark text-white">
    <a class="dropdown-item" href="#">Name</a>
    <a class="dropdown-item" href="#">Status</a>
    <a class="dropdown-item" href="#">Description</a>
  </div>
  <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">Sort</a>
  <div class="dropdown-menu bg-dark text-white">
    <a class="dropdown-item" href="#">Name</a>
    <a class="dropdown-item" href="#">Status</a>
    <a class="dropdown-item" href="#">Description</a>
  </div>
  <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">Action</a>
  <div class="dropdown-menu bg-dark text-white">
    <span class="dropdown-header text-info">LifeCycle</span>
    <a class="dropdown-item" href="#"> Reboot </a>
    <a class="dropdown-item" href="#"> Suspend </a>
    <a class="dropdown-item" href="#"> Resume </a>
    <a class="dropdown-item" href="#"> Terminate </a>
    <div class="dropdown-divider bg-secondary"></div>
    <span class="dropdown-header text-info">Manage</span>
    <a class="dropdown-item" href="#"> New </a>
    <a class="dropdown-item" href="#"> Delete </a>
    <div class="dropdown-divider bg-secondary"></div>
    <span class="dropdown-header text-info">Export</span>
    <a class="dropdown-item" href="#"> Export Json </a>
    <a class="dropdown-item" href="#"> Suspend </a>
  </div>
</div>
