<div
  class="modal modal-blur fade"
  id="deployment-target"
  tabindex="-1"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-info">Deployment Target</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="form-group mb-2">
            <label class="form-label">Cloud Provider / Region</label>
            <div class="row g-2">
              <div class="col-6">
                <select name="cloud-provider" class="form-select">
                  <option value="">Select Provider</option>
                </select>
              </div>

              <div class="col-6">
                <select name="user[year]" class="form-select">
                  <option value="">Select Region</option>
                  <option value="region1" selected="">[AWS] aws-sao-rg</option>
                  <option value="region2">[GCP] gcp-tokyo-rg</option>
                  <option value="region3">[ALIBABA] ap-southeast-1</option>
                </select>
              </div>
            </div>
          </div>
          <div>img</div>
        </div>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>
                  <h5><center>Cloud Provider</center></h5>
                </th>
                <th>
                  <h5><center>Region</center></h5>
                </th>
                <th>
                  <h5><center>Cloud Connection</center></h5>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <center>AWS</center>
                </td>
                <td>
                  <center>aws-sao-rg</center>
                </td>
                <td>
                  <center>aws-sao-conn</center>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div align="right">
             <button type="submit" class="btn btn-info">Apply</button>
             <button type="submit" class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
