  <!-- add server : spec-search : server recommandation -->
  <div
  class="modal modal-blur fade"
  id="spec-search"
  tabindex="-1"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-info">Server Recommandation</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="form-group mb-2">
            <label class="form-label">Priority Option / Limit (location)</label>
            <div class="row g-2">
              <div class="col-6">
                <input type="hidden" id="latitude" />
                <input type="hidden" id="longitude" />
                <select
                  class="form-select"
                  id="assistRecommendSpecConnectionName"
                  name="assistRecommendSpecConnectionName"
                  onchange="webconsolejs['partials/operation/manage/serverrecommandation'].showRecommendSpecSetting(this.value)"
                >
                  <option value="">Select Region</option>
                  <option value="seoul">Seoul</option>
                  <option value="london">London</option>
                  <option value="newyork">NewYork</option>
                </select>
                <!-- <select name="user[day]" class="form-select">
                    <option value="">Select Priority</option>
                    <option value="location">Location</option>
                    <option value="cost">Cost</option>
                  </select> -->
              </div>
              <!-- <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Please Use Search"
                />
              </div> -->
              <div class="col-auto">
                <a
                  class="btn btn-icon"
                  aria-label="Button"
                  onclick="webconsolejs['partials/operation/manage/serverrecommandation'].getRecommendVmInfo()"
                >
                  <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                    <path d="M21 21l-6 -6"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label class="form-label">Memory (GB)</label>
            <input
              type="range"
              class="form-range mb-2"
              id="assist_num_memory"
              value="1"
              min="1"
              max="100"
              step="1"
              oninput="this.nextElementSibling.value = this.value"
            />

            <output>1</output>
          </div>
          <div class="col-md-4">
            <label class="form-label">vCPU</label>
            <input
              type="range"
              class="form-range mb-2"
              id="assist_num_cpu"
              value="1"
              min="1"
              max="100"
              step="1"
              oninput="this.nextElementSibling.value = this.value"
            />

            <output>1</output>
          </div>
          <div class="col-md-4">
            <label class="form-label">COST (Hour)</label>
            <input
              type="range"
              class="form-range mb-2"
              id="assist_num_cost"
              value="1"
              min="0"
              max="100"
              step="1"
              oninput="this.nextElementSibling.value = this.value"
            />

            <output>1</output>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="table-responsive" id="spec-table"></div>
      </div>
      <div class="modal-footer">
        <div align="right">
          <button
            type="submit"
            class="btn btn-info"
            onclick="webconsolejs['partials/operation/manage/serverrecommandation'].applySpecInfo()"
          >
            Apply
          </button>
          <button type="submit" class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</div>
  <!-- add server : spec-search end -->

  
  <%= javascriptTag("partials/operation/manage/serverrecommandation.js") %> 