<!-- 사용자정보, 현재 name space 표시 -->
<div class="topbox">
  <div class="info">
      <a href="javascript:void(0);">
          <p class="txt_1"><%= current_user_id %></p>
      </a>
      <div class="txt_2">
          <input type="hidden" id="topboxDefaultNameSpaceID" value="" />
          <span id="topboxDefaultNameSpaceName"><%= current_namespace %></span>
          <div class="infobox">
              <div class="box">
                  <ul>
                      <li>
                          <a href="javascript:void(0);" style="cursor:default;">Change NameSpace</a>
                          <ul id="menuNameSpaceList">
							  <%= for (ns) in shared_ns_list { %>
							  <li><a href="#" onclick='mcpjs["util/common"].setCurrentNameSpace("TobBox","<%= ns.Namespace.ID %>")'><%= ns.Namespace.NsName %></a></li>
							  <% } %>
                          </ul>
                      </li>
                      <li class="divider"></li>
                      <li>
                          <a href="javascript:void(0);" style="cursor:default;">Manage NameSpace</a>
                          <ul>
                              <li><a href="javascript:void(0);" data-toggle="modal" data-target="#NewNS"
                                      onclick="mcpjs['util/util'].changePage('/namespace/mngform')">new NS</a></li>
                              <li><a href="javascript:void(0);" data-toggle="modal" data-target="#ManageNS"
                                      onclick="mcpjs['util/util'].changePage('/namespace/mngform')">Manage NS</a></li>
                          </ul>
                      </li>
                      <input type="hidden" id="select_namespace" />
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="leftmenu">
	<p class="leftmenu-title">Operation</p>
	<ul class="menu" id="operation">
		<li id="menu_level2_dashboards">
			<a href="javascript:void(0);">Dashboard</a>
			<ul>

				<li id="menu_level3_dashboardnamespace"><a href="javascript:void(0);"
						onclick="mcpjs['util/util'].changePage('NsDashboardForm')">NS</a></li>
				<li id="menu_level3_dashboardglobalnamespace"><a href="javascript:void(0);"
						onclick="mcpjs['util/util'].changePage('GlobalDashboardForm')">Global</a></li>
			</ul>
		</li>
		<li id="menu_level2_manages">
			<a href="javascript:void(0);">Manage</a>
			<ul>
				<li id="menu_level3_mcismng"><a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('McisMngForm')">MCIS</a>
				</li>
				<li id="menu_level3_mcksmng"><a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('McksMngForm')">MCKS</a>
				</li>
				<li id="menu_level3_pmksmng"><a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('PmksMngForm')">PMKS</a>
				</li>
				<!-- <li id="MC-App"><a href="!#">MC-App</a></li> -->
			</ul>
		</li>
		<li id="menu_level2_monitorings">
			<a href="javascript:void(0);">Monitoring</a>
			<ul>
				<li id="menu_level3_mcismonitoring"><a href="javascript:void(0);"
						onclick="mcpjs['util/util'].changePage('McisMonitoringMngForm')">MCIS</a></li>
			</ul>
		</li>
		<li id="menu_level2_policies">
			<a href="javascript:void(0);">Policy</a>
			<ul>
				<li id="menu_level3_monitoringconfigpolicy"><a href="javascript:void(0);"
						onclick="mcpjs['util/util'].changePage('MonitoringPolicyConfigMngForm')">Monitoring</a></li>
				<li id="menu_level3_monitoringalertpolicy"><a href="javascript:void(0);"
						onclick="mcpjs['util/util'].changePage('MonitoringPolicyAlertMngForm')">Threshold</a></li>
				<!-- <li id="menu_level3_placementpolicy"><a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('/operations/policies/placementpolicy/mngform')">Placement</a></li> -->
			</ul>
		</li>
		<li id="menu_level2_services">
			<a href="javascript:void(0);">Service</a>
			<ul>
				<li id="menu_level3_nlb"><a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('NlbMngForm')">NLB</a>
				</li>

			</ul>
		</li>
		<!--<li id="menu_level2_about">
			<a href="javascript:void(0);">About</a>
			<ul>
				<li id="menu_level3_about"><a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('AboutForm')">About</a>
				</li>
			</ul>
		</li>-->
	</ul>


	<p class="leftmenu-title">Settings</p>
	<ul class="menu" id="settings">
		<li id="menu_level2_resources">
			<a href="javascript:void(0);">Resources</a>
			<ul>
				<li id="menu_level3_network"><a href="javascript:void(0);"
						onclick="mcpjs['util/util'].changePage('VpcMngForm')">Network</a></li>
				<li id="menu_level3_securitygroup"><a href="javascript:void(0);"
						onclick="mcpjs['util/util'].changePage('SecurityGroupMngForm')">Security</a></li>
				<li id="menu_level3_sshkey"><a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('SshKeyMngForm')">SSH
						key</a></li>
				<li id="menu_level3_vmspec"><a href="javascript:void(0);" onclick="mcpjs['util/util'].changePage('VmSpecMngForm')">(Server)
						Spec</a></li>
				<li id="menu_level3_machineimage"><a href="javascript:void(0);"
						onclick="mcpjs['util/util'].changePage('VmImageMngForm')">(Server) Image</a></li>
				<li id="menu_level3_myimage"><a href="javascript:void(0);"
						onclick="mcpjs['util/util'].changePage('MyImageMngForm')">MyImage</a></li>
				<li id="menu_level3_datadisk"><a href="javascript:void(0);"
						onclick="mcpjs['util/util'].changePage('DataDiskMngForm')">Disk</a></li>
			</ul>
		</li>
		<!-- <li id="menu_level2_appresources">
					<a href="javascript:void(0);">App Resource</a>
					<ul>
						<li><a href="javascript:void(0);">(Server) Image</a></li>
						<li><a href="javascript:void(0);">Pod</a></li>
					</ul>
				</li> -->

		<li id="menu_level2_connections">
			<a href="javascript:void(0);">Connections</a>
			<ul>
				<li id="menu_level3_cloudconnectionconfig"><a href="javascript:void(0);"
						onclick="mcpjs['util/util'].changePage('CloudConnectionMngForm')">Connections</a></li>
			</ul>
		</li>
		<!-- <li id="NameSpace">
							<a href="javascript:void(0);">NameSpace</a>
							<ul>
								<li id="NS" ><a href="/setting/namespaces/namespace/mngform">NameSpace</a></li>
							</ul>
						</li> -->
		<li id="menu_level2_namespaces">
			<a href="javascript:void(0);">NameSpace</a>
			<ul>
				<li id="menu_level3_namespace"><a href="javascript:void(0);"
						onclick="mcpjs['util/util'].changePage('NamespaceMngForm')">NameSpace</a></li>
			</ul>
		</li>
	</ul>


</div>

