<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>M-CMP : mc-web-console - Logout</title>
    <link rel="icon" href="/assets/favicon.ico">
    {{ stylesheetTag("application.css") | raw }}
</head>
<body>
  <div class="page page-center" >
    <div class="container container-tight py-4">

      <div class="text-center mb-4">
        <a class="navbar-brand navbar-brand-autodark">
          <div class="row">
            <div>
              <img src="/assets/static/logo/mcmp.svg" width="150" >
            </div>
          </div>
        </a>
      </div>

      <div class="card card-md">
        <div class="card-body">
          <h2 class="h2 text-center mb-4">Logout</h2>

            <div class="form-footer">
              <a href="/auth/login" class="btn btn-primary w-100">Back to Login</a>
            </div>

        </div>
      </div>

      <div class="text-center text-secondary mt-3">
        <a href="/auth/signup" tabindex="-1">Register Account</a>
      </div>

    </div>
  </div>

  <!-- page JS -->
  {{ javascriptTag("common/cookie/authcookie.js") | raw }}
</body>
</html>
