<div class="page-body">

    <div class="container-xl">

        <!-- WORSKSPACE DASHBOARD -->
        <div id="index" class="section">

            <div class="row row-cards">

                <!-- Workspaces Summary -->
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title summary">Workspaces Summary</h3>
                        </div>

                        <div class="card-body">
                <!--
                            <div class="row row-cards">

                                <div class="col-md">
                                    <div class="card ">
                                        <div class="card-header text-center d-flex flex-column align-items-center">
                                            <h1 class="card-title mx-auto summary"  id="workspaces_count">0</h1>
                                            <h1></h1>
                                            <h1 class="card-title mx-auto summary text-secondary" >Workspaces</h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md">
                                    <div class="card ">
                                        <div class="card-header text-center d-flex flex-column align-items-center">
                                            <h1 class="card-title mx-auto summary"  id="projects_count">0</h1>
                                            <h1></h1>
                                            <h1 class="card-title mx-auto summary text-secondary" >Projects</h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md">
                                    <div class="card ">
                                        <div class="card-header text-center d-flex flex-column align-items-center">
                                            <h1 class="card-title mx-auto summary"  id="groupMembers_count">0 / 0</h1>
                                            <h1></h1>
                                            <h1 class="card-title mx-auto summary text-secondary" >Group / Members</h1>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>                        
                    </div>
                -->
                            <div class="row row-cards">
                                <div class="col-md">                                    
                                    <div class="card card-sm">                            
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-auto">
                                                    <span class="avatar bg-azure-lt"> 
                                                        <!--avatar 색상 수정 및 svg 파일 수정-->
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M21 16.008v-8.018a1.98 1.98 0 0 0 -1 -1.717l-7 -4.008a2.016 2.016 0 0 0 -2 0l-7 4.008c-.619 .355 -1 1.01 -1 1.718v8.018c0 .709 .381 1.363 1 1.717l7 4.008a2.016 2.016 0 0 0 2 0l7 -4.008c.619 -.355 1 -1.01 1 -1.718z"></path><path d="M12 22v-10"></path><path d="M12 12l8.73 -5.04"></path><path d="M3.27 6.96l8.73 5.04"></path></svg>
                                                    </span>
                                                </div>
                                                <div class="col">
                                                    <div class="font-weight-medium" style="font-size: var(--tblr-font-size-h2);" id="workspaces_count"></div>
                                                    <div class="text-secondary">Workspaces</div>
                                                </div>                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">                                    
                                    <div class="card card-sm">                            
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-auto">
                                                    <span class="avatar bg-cyan-lt"> 
                                                        <!--avatar 색상 수정 및 svg 파일 수정-->
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-file">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                                                            <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                                                          </svg>
                                                    </span>
                                                </div>
                                                <div class="col">
                                                    <div class="font-weight-medium" style="font-size: var(--tblr-font-size-h2);" id="projects_count"></div>
                                                    <div class="text-secondary">Projects</div>
                                                </div>                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    
                                    <div class="card card-sm">                            
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-auto">
                                                    <span class="avatar bg-teal-lt"> 
                                                        <!--avatar 색상 수정 및 svg 파일 수정-->
                                                        
                                                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                            <path d="M21 16.008v-8.018a1.98 1.98 0 0 0 -1 -1.717l-7 -4.008a2.016 2.016 0 0 0 -2 0l-7 4.008c-.619 .355 -1 1.01 -1 1.718v8.018c0 .709 .381 1.363 1 1.717l7 4.008a2.016 2.016 0 0 0 2 0l7 -4.008c.619 -.355 1 -1.01 1 -1.718z"></path>
                                                            <path d="M12 22v-10"></path>
                                                            <path d="M12 12l8.73 -5.04"></path>
                                                            <path d="M3.27 6.96l8.73 5.04"></path>
                                                        </svg> -->
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-user">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                                                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                                        </svg>
                                                    </span>
                                                </div>
                                                <div class="col">
                                                    <div class="font-weight-medium" style="font-size: var(--tblr-font-size-h2);" id="groupMembers_count"></div>
                                                    <div class="text-secondary">Groups / Members</div>
                                                </div>                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- WORSKSPACES -->
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">Worksapces</h3>
                            <div class="card-actions btn-actions">

                                <!-- Action -->
                                <div class="dropdown">
                                    <a href="#" class="btn-action" data-bs-toggle="dropdown">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M6 9l6 6l6 -6" />
                                        </svg>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-demo dropdown-menu-arrow">
                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#commonDefaultModal" onclick="webconsolejs['partials/layout/modal'].commonModal(this,'Delete Workspaces', 'Would you like to delete Workspaces?', 'pages/operation/workspace/workspaces.deleteWorkspaces')">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                                                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                                            </svg>
                                            Delete
                                        </a>
                                        <a class="dropdown-item" onclick="webconsolejs['pages/operation/workspace/workspaces'].editeWorkspaceModalInit()">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                                                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                                            </svg>
                                            Edit
                                        </a>
                                    </div>
                                </div>
                                <!-- filter -->
                                <a class="btn-action" type="button" data-bs-toggle="collapse" data-bs-target="#filterbody" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-filter">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"/>
                                    </svg>
                                </a>
                                <!-- Add button -->
                                <!-- <a class="btn-action" type="button" data-bs-toggle="modal" data-bs-target="#workspace-modal-add">
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                                </a> -->
                                <!-- <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#workspace-modal-add">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M12 5l0 14"></path>
                                        <path d="M5 12l14 0"></path>
                                    </svg>
                                    New/Add
                                </a> -->



                            </div>
                        </div>

                        <div id="filterbody" class="accordion-collapse collapse">

                            <div class="accordion-body p-3 row">

                                <div class="col-sm-12 col-md-2 row mb-1">
                                    <div class="col-4 col-form-label required d-flex justify-content-end">
                                        Field
                                    </div>
                                    <select class="col form-select" id="filter-field">
                                        <option value="name">name</option>
                                        <option value="name">name</option>
                                        <option value="name">name</option>
                                        <option value="name">name</option>
                                        <option value="name">name</option>
                                        <option value="name">name</option>
                                        <option value="name">name</option>
                                        <option value="name">name</option>
                                        <option value="name">name</option>
                                    </select>
                                </div>

                                <div class="col-sm-12 col-md-2 row mb-1">
                                    <div class="col-4 col-form-label d-flex justify-content-end">Type</div>
                                    <select class="col form-select" id="filter-type">
                                        <option value="like">like</option>
                                        <option value="=">=</option>
                                        <option value="<"><< /option>
                                        <option value="<="><=< /option>
                                        <option value=">">></option>
                                        <option value=">=">>=</option>
                                        <option value="!=">!=</option>
                                    </select>
                                </div>

                                <div class="col-sm-12 col-md-8 row mb-1">
                                    <div class="col-sm-4 col-md-1 col-form-label required d-flex justify-content-end">
                                        Filter
                                    </div>
                                    <input class="col form-control" id="filter-value" type="text" placeholder="value to filter" />
                                    <div class="col-auto">
                                        <a id="filter-clear" class="btn btn-icon" type="button" aria-label="Button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M18 6l-12 12" />
                                                <path d="M6 6l12 12" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="card-table table-responsive">
                            <!-- Tabulator TABLE SET -->
                            <div id="Workspaceslist-table"></div>
                        </div>

                    </div>
                </div>

                <!-- WORSKSPACES SUBCARD -->
                <div class="col-md-12">

                    <div class="card section" id="workspace-info-card">

                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <strong class="nav-link disabled text-info" id="workspace-details-presentation"></strong>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="#workspace-details" class="nav-link active" data-bs-toggle="tab" aria-selected="true" role="tab">Details</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="#workspace-projects" class="nav-link" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1">Projects</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="#workspace-members" class="nav-link" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1">Members</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="#workspace-roles" class="nav-link" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1">Roles</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="#workspace-costAnalytics" class="nav-link" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1">Cost Analytics</a>
                                </li>
                            </ul>
                        </div>

                        <div class="card-table">
                            <div class="tab-content">
                                <!-- Details Tab -->
                                <div class="tab-pane fade active show p-4" id="workspace-details" role="tabpanel">
                                    <div class="form-group">
                                        <div class="datagrid mb-3">
                                            <div class="datagrid-item">
                                                <div class="form-label">Name</div>
                                                <div class="form-description" id="workspace-details-name"></div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="form-label">Description</div>
                                                <div class="form-description" id="workspace-details-description"></div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="form-label">SystemId</div>
                                                <div class="form-description" id="workspace-details-systemId"></div>
                                            </div>
                                        </div>
                                        <div class="datagrid mb-3">
                                            <div class="datagrid-item">
                                                <div class="form-label">Created</div>
                                                <div class="form-description" id="workspace-details-created"></div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="form-label">Updated</div>
                                                <div class="form-description" id="workspace-details-updated"></div>
                                            </div>
                                            <div class="datagrid-item"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Projects Tab -->
                                <div class="tab-pane fade card-table table-responsive" id="workspace-projects" role="tabpanel">
                                    <div class="row">
                                        <div class="card-header">
                                            <h3 class="card-title">Projects / status</h3>
                                            <div class="card-actions btn-actions">
                                                <!-- Add button -->
                                                <a class="btn-action" type="button" onclick="webconsolejs['pages/operation/workspace/workspaces'].addWorkspaceProjectModalInit()">
                                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                                                </a>
                                                <!-- Action -->
                                                <div class="dropdown">
                                                    <a href="#" class="btn-action" data-bs-toggle="dropdown">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M6 9l6 6l6 -6" />
                                                        </svg>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-demo dropdown-menu-arrow">
                                                        <a class="dropdown-item" data-bs-toggle="modal"data-bs-target="#commonDefaultModal"onclick="webconsolejs['partials/layout/modal'].commonModal(this,'Delete Project Mappings', 'Would you like to delete Project Mappings?', 'pages/operation/workspace/workspaces.deleteProjects')">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                                                                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                                                            </svg>
                                                            Delete Projects Mappings
                                                        </a>
                                                    </div>
                                                </div>
                                                
                                                <!-- filter -->
                                                <!-- <a class="btn-action" type="button" data-bs-toggle="collapse" data-bs-target="#projects-filterbody" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-filter">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                        <path d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"/>
                                                    </svg>
                                                </a> -->

                                            </div>
                                        </div>
                                    </div>
                                    <!-- Tabulator TABLE SET -->
                                    <div id="WorkspacesProjectsInfo-table"></div>
                                </div>
                                <!-- Members Tab -->
                                <div class="tab-pane fade card-table table-responsive" id="workspace-members" role="tabpanel">
                                    <div class="row">
                                        <div class="card-header">
                                            <h3 class="card-title">Share Members / status</h3>
                                            <div class="card-actions btn-actions">
                                                <!-- Add button -->
                                                <a class="btn-action" type="button" onclick="webconsolejs['pages/operation/workspace/workspaces'].addUserModalInit()">
                                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                                                </a>
                                                <!-- Action -->
                                                <div class="dropdown">
                                                    <a href="#" class="btn-action" data-bs-toggle="dropdown">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M6 9l6 6l6 -6" />
                                                        </svg>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-demo dropdown-menu-arrow">
                                                        <a class="dropdown-item" data-bs-toggle="modal"data-bs-target="#commonDefaultModal"onclick="webconsolejs['partials/layout/modal'].commonModal(this,'Delete User Assigned workspace', 'Would you like to delete User Assign?', 'pages/operation/workspace/workspaces.deassignUser')">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                                                                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                                                            </svg>
                                                            Delete
                                                        </a>
                                                    </div>
                                                </div>

                                                <!-- filter -->
                                                <!-- <a class="btn-action" type="button" data-bs-toggle="collapse" data-bs-target="#filterbody" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-filter">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                    <path d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"/>
                                                    </svg>
                                                </a> -->

                                            </div>
                                        </div>
                                    </div>
                                    <!-- Tabulator TABLE SET -->
                                    <div id="WorkspacesUserInfo-table"></div>
                                </div>
                                <!-- Roles Tab -->
                                <div class="tab-pane fade card-table table-responsive" id="workspace-roles" role="tabpanel">
                                    <div class="row">
                                        <div class="card-header">
                                            <h3 class="card-title">Access Roles / status</h3>
                                            <div class="card-actions btn-actions">
                                                <!-- Add button -->
                                                <a class="btn-action" type="button" onclick="webconsolejs['pages/operation/workspace/workspaces'].addRoleModalInit()">
                                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                                                </a>
                                                <!-- Action -->
                                                <div class="dropdown">
                                                    <a href="#" class="btn-action" data-bs-toggle="dropdown">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M6 9l6 6l6 -6" />
                                                        </svg>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-demo dropdown-menu-arrow">
                                                        <a class="dropdown-item" data-bs-toggle="modal"data-bs-target="#commonDefaultModal" onclick="webconsolejs['partials/layout/modal'].commonModal(this,'Delete Roles', 'Would you like to delete Roles?', 'pages/operation/workspace/workspaces.deleteRoles')">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                                                                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                                                            </svg>
                                                            Delete
                                                        </a>
                                                    </div>
                                                </div>

                                                <!-- filter -->
                                                <!-- <a class="btn-action" type="button" data-bs-toggle="collapse" data-bs-target="#filterbody" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-filter">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                    <path d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"/>
                                                    </svg>
                                                </a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Tabulator TABLE SET -->
                                    <div id="WorkspacesRolesInfo-table"></div>
                                </div>
                                <!-- Cost Analytics Tab -->
                                <div class="tab-pane fade p-4" id="workspace-costAnalytics" role="tabpanel">
                                    <h4>costAnalytics tab</h4>
                                    <div>Fringilla egestas nunc quis tellus diam rhoncus ultricies tristique enim at diam, sem nunc amet, pellentesque id egestas velit sed</div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<!-- WORSKSPACES ADD MODAL -->
<div class="modal modal-blur fade" id="workspace-modal-add" tabindex="-1" style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info">Add/New Workspace</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">

                    <p class="card-subtitle">
                        신규 워크스페이스를 등록/생성합니다.
                    </p>

                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" id="workspace-modal-add-name" placeholder="Workspace Name">
                        </div>
                    </div>

                    <div class="col-12">
                        <div>
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" id="workspace-modal-add-description" placeholder="Workspace Description">
                        </div>
                    </div>

                    <div class="hr-text">option</div>

                    <div class="col-12">
                        <div class="mb-3">

                            <label class="col form-check form-switch form-label">
                                <input class="form-check-input" type="checkbox"id="workspace-modal-add-withprojects"data-bs-toggle="collapse" data-bs-target="#workspace-modal-add-projectAccordion" aria-expanded="false">
                                <span class="col">With Project</span>
                            </label>
                            <div id="workspace-modal-add-projectAccordion" class="accordion-collapse collapse">
                                <div class="form-label">Workspace mapping Project</div>
                                <select type="text"class="form-select" id="workspace-modal-add-multiproject" multiple placeholder="Select one project or more"></select>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <div align="right">
                    <button id="workspace-modal-add-confirmbtn" class="btn btn-info" onclick="webconsolejs['pages/operation/workspace/workspaces'].creatworkspaceProject()">Confirm</button>
                    <button data-bs-dismiss="modal" aria-label="Cancel" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- WORSKSPACES EDIT MODAL -->
<div class="modal modal-blur fade" id="workspace-modal-edit" tabindex="-1" style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info">Edit Workspace</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">

                    <p class="card-subtitle">
                        워크스페이스 정보 및 설정을 변경합니다.
                    </p>

                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" id="workspace-modal-edit-name" placeholder="Workspace Name" readonly disabled>
                            <input type="text" class="form-control" id="workspace-modal-edit-id" readonly disabled hidden>

                        </div>
                    </div>

                    <div class="col-12">
                        <div>
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" id="workspace-modal-edit-description" placeholder="Workspace Description">
                        </div>
                    </div>

                    <div class="hr-text">option</div>

                    <div class="col-12">
                        <div class="mb-3">
                            <div class="form-label">Workspace mapping Project</div>
                            <select class="form-select tomselected" id="workspace-modal-edit-multiproject" name="state[]" multiple placeholder="Select one project or more" autocomplete="off"></select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <div align="right">
                    <button id="workspace-modal-add-confirmbtn" class="btn btn-info" onclick="webconsolejs['pages/operation/workspace/workspaces'].editeWorkspace()">Confirm</button>
                    <button data-bs-dismiss="modal" aria-label="Cancel" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PROJECT ADD MODAL -->
<div class="modal modal-blur fade" id="project-modal-add" tabindex="-1" style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info">Add/New Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">

                    <p class="card-subtitle">
                        신규 프로젝트를 등록/생성합니다.
                    </p>

                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" id="project-modal-add-name" placeholder="Project Name">
                            <input type="text" class="form-control" id="project-modal-add-workspaceId" placeholder="Project Name" readonly hidden>
                        </div>
                    </div>

                    <div class="col-12">
                        <div>
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" id="project-modal-add-description" placeholder="Project Description">
                        </div>
                    </div>

                    <div class="hr-text">option</div>

                    <div class="col-12">
                        <div class="mb-3">

                            <label class="col form-check form-switch form-label">
                                <input class="form-check-input" type="checkbox"id="project-modal-add-withprojects"data-bs-toggle="collapse" data-bs-target="#project-modal-add-cloudenvAccordion" aria-expanded="false">
                                <span class="col">With cloud ENV</span>
                            </label>
                            <div id="project-modal-add-cloudenvAccordion" class="accordion-collapse collapse">
                                <div class="form-label">cloud ENV list</div>
                                <select class="form-select tomselected" id="workspace-modal-add-multiproject" name="state[]" multiple placeholder="Select one project or more" autocomplete="off"></select>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <div align="right">
                    <button id="workspace-modal-add-confirmbtn" class="btn btn-info" onclick="webconsolejs['pages/operation/workspace/workspaces'].addWorkspaceProject()">Confirm</button>
                    <button data-bs-dismiss="modal" aria-label="Cancel" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ROLE ADD MODAL -->
<div class="modal modal-blur fade" id="role-modal-add" tabindex="-1" style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info">Add Role</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">

                    <p class="card-subtitle">
                        역할 정보 및 설정을 생성/등록 합니다.
                    </p>

                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" id="role-modal-add-name" placeholder="Role Name">
                        </div>
                    </div>

                    <div class="col-12">
                        <div>
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" id="role-modal-add-description" placeholder="Role Description">
                        </div>
                    </div>

                    <div class="hr-text">option</div>

                    <div class="col-12">
                        <div class="mb-3">

                            <label class="col form-check form-switch form-label">
                                <input class="form-check-input" type="checkbox"id="role-modal-add-witthPolicy"data-bs-toggle="collapse" data-bs-target="#role-modal-add-accessPolicy" aria-expanded="false">
                                <span class="col">With Access Policy</span>
                            </label>
                            <div id="role-modal-add-accessPolicy" class="accordion-collapse collapse">
                                <!-- Tabulator TABLE SET -->
                                <div id="role-modal-add-accessPolicy-table"></div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <div align="right">
                    <button id="workspace-modal-add-confirmbtn" class="btn btn-info" onclick="webconsolejs['pages/operation/workspace/workspaces'].addRole()">Confirm</button>
                    <button data-bs-dismiss="modal" aria-label="Cancel" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ROLE Detail MODAL -->
<div class="modal modal-blur fade" id="role-modal-detail" tabindex="-1" style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info">Role Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">

                    <p class="card-subtitle">
                        역할 정보 및 설정을 변경합니다.
                    </p>

                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" id="role-modal-detail-name" placeholder="Role Name" readonly disabled>
                            <input type="text" class="form-control" id="role-modal-detail-id" readonly disabled hidden>
                            <input type="text" class="form-control" id="role-modal-detail-policyid" readonly disabled hidden>
                        </div>
                    </div>

                    <div class="col-12">
                        <div>
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" id="role-modal-detail-description" placeholder="Role Description">
                        </div>
                    </div>

                    <div class="hr-text">option</div>

                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">AccessPolicy</label>
                            <div id="role-modal-detail-accessPolicy-table"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <div align="right">
                    <button id="workspace-modal-add-confirmbtn" class="btn btn-info" onclick="webconsolejs['pages/operation/workspace/workspaces'].udpateRole()">Save</button>
                    <button data-bs-dismiss="modal" aria-label="Cancel" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- USER ASSIGN MODAL -->
<div class="modal modal-blur fade" id="user-modal-add" tabindex="-1" style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info">Add/Assign user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">

                    <p class="card-subtitle">
                        유저를 현재 워크스페이스에 할당합니다.
                    </p>

                    <div class="col-12">
                        <div class="mb-3">
                            <div class="form-label">User</div>
                            <select type="text" class="form-select" id="user-modal-add-userselector" multiple placeholder="Select one user or more"></select>
                        </div>
                    </div>

                    <div class="col-12">
                        <div>
                            <label class="form-label">Role</label>
                            <select type="text" class="form-control" id="user-modal-add-roleselector" placeholder="Workspace Description">
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <div align="right">
                    <button id="user-modal-add-confirmbtn" class="btn btn-info" onclick="webconsolejs['pages/operation/workspace/workspaces'].assignUser()">Confirm</button>
                    <button data-bs-dismiss="modal" aria-label="Cancel" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- pageloader-->
<%= partial("partials/layout/pageloader.html") %>

<%= javascriptTag("pages/operation/workspace/workspaces.js") %>
<%= javascriptTag("common/api/services/workspace_api.js") %> 
