<%= partial("partials/layout/pageheader/default.html") %>

<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-12">
                <%= partial("partials/operation/manage/listofmci.html") %>
            </div>
            <div class="col-12">
                <%= partial("partials/operation/manage/mciinfo.html") %>
            </div>
            <div class="col-12">
                <%= partial("partials/operation/manage/serverinfo.html") %>
            </div>
            <div class="col-12">
                <%= partial("partials/operation/manage/createmci.html") %>
            </div>
        </div>
    </div>
</div>

<%= javascriptTag("operation/policy/monitoring.js") %>
